@import '../../../colors/material/blue';

.cy-text-mt-blue,.cy-text-h-mt-blue:hover {
	color: $mt-blue;
}
.cy-text-mt-blue100,.cy-text-h-mt-blue100:hover {
	color: $mt-blue100;
}
.cy-text-mt-blue200,.cy-text-h-mt-blue200:hover {
	color: $mt-blue200;
}
.cy-text-mt-blue300,.cy-text-h-mt-blue300:hover {
	color: $mt-blue300;
}
.cy-text-mt-blue400,.cy-text-h-mt-blue400:hover {
	color: $mt-blue400;
}
.cy-text-mt-blue500,.cy-text-h-mt-blue500:hover {
	color: $mt-blue500;
}
.cy-text-mt-blue600,.cy-text-h-mt-blue600:hover {
	color: $mt-blue600;
}
.cy-text-mt-blue700,.cy-text-h-mt-blue700:hover {
	color: $mt-blue700;
}
.cy-text-mt-blue800,.cy-text-h-mt-blue800:hover {
	color: $mt-blue800;
}
.cy-text-mt-blue900,.cy-text-h-mt-blue900:hover {
	color: $mt-blue900;
}
.cy-text-mt-blueA100,.cy-text-h-mt-blueA100:hover {
	color: $mt-blueA100;
}
.cy-text-mt-blueA200,.cy-text-h-mt-blueA200:hover {
	color: $mt-blueA200;
}
.cy-text-mt-blueA400,.cy-text-h-mt-blueA400:hover {
	color: $mt-blueA400;
}
.cy-text-mt-blueA700,.cy-text-h-mt-blueA700:hover {
	color: $mt-blueA700;
}
