@import '../../../colors/material/cyan';

.cy-text-mt-cyan,.cy-text-h-mt-cyan:hover {
	color: $mt-cyan;
}
.cy-text-mt-cyan100,.cy-text-h-mt-cyan100:hover {
	color: $mt-cyan100;
}
.cy-text-mt-cyan200,.cy-text-h-mt-cyan200:hover {
	color: $mt-cyan200;
}
.cy-text-mt-cyan300,.cy-text-h-mt-cyan300:hover {
	color: $mt-cyan300;
}
.cy-text-mt-cyan400,.cy-text-h-mt-cyan400:hover {
	color: $mt-cyan400;
}
.cy-text-mt-cyan500,.cy-text-h-mt-cyan500:hover {
	color: $mt-cyan500;
}
.cy-text-mt-cyan600,.cy-text-h-mt-cyan600:hover {
	color: $mt-cyan600;
}
.cy-text-mt-cyan700,.cy-text-h-mt-cyan700:hover {
	color: $mt-cyan700;
}
.cy-text-mt-cyan800,.cy-text-h-mt-cyan800:hover {
	color: $mt-cyan800;
}
.cy-text-mt-cyan900,.cy-text-h-mt-cyan900:hover {
	color: $mt-cyan900;
}
.cy-text-mt-cyanA100,.cy-text-h-mt-cyanA100:hover {
	color: $mt-cyanA100;
}
.cy-text-mt-cyanA200,.cy-text-h-mt-cyanA200:hover {
	color: $mt-cyanA200;
}
.cy-text-mt-cyanA400,.cy-text-h-mt-cyanA400:hover {
	color: $mt-cyanA400;
}
.cy-text-mt-cyanA700,.cy-text-h-mt-cyanA700:hover {
	color: $mt-cyanA700;
}
