@import '../../../colors/material/dorange';

.cy-text-mt-dorange,.cy-text-h-mt-dorange:hover {
	color: $mt-dorange;
}
.cy-text-mt-dorange100,.cy-text-h-mt-dorange100:hover {
	color: $mt-dorange100;
}
.cy-text-mt-dorange200,.cy-text-h-mt-dorange200:hover {
	color: $mt-dorange200;
}
.cy-text-mt-dorange300,.cy-text-h-mt-dorange300:hover {
	color: $mt-dorange300;
}
.cy-text-mt-dorange400,.cy-text-h-mt-dorange400:hover {
	color: $mt-dorange400;
}
.cy-text-mt-dorange500,.cy-text-h-mt-dorange500:hover {
	color: $mt-dorange500;
}
.cy-text-mt-dorange600,.cy-text-h-mt-dorange600:hover {
	color: $mt-dorange600;
}
.cy-text-mt-dorange700,.cy-text-h-mt-dorange700:hover {
	color: $mt-dorange700;
}
.cy-text-mt-dorange800,.cy-text-h-mt-dorange800:hover {
	color: $mt-dorange800;
}
.cy-text-mt-dorange900,.cy-text-h-mt-dorange900:hover {
	color: $mt-dorange900;
}
.cy-text-mt-dorangeA100,.cy-text-h-mt-dorangeA100:hover {
	color: $mt-dorangeA100;
}
.cy-text-mt-dorangeA200,.cy-text-h-mt-dorangeA200:hover {
	color: $mt-dorangeA200;
}
.cy-text-mt-dorangeA400,.cy-text-h-mt-dorangeA400:hover {
	color: $mt-dorangeA400;
}
.cy-text-mt-dorangeA700,.cy-text-h-mt-dorangeA700:hover {
	color: $mt-dorangeA700;
}
