@import '../../../colors/material/dpurple';

.cy-text-mt-dpurple,.cy-text-h-mt-dpurple:hover {
	color: $mt-dpurple;
}
.cy-text-mt-dpurple100,.cy-text-h-mt-dpurple100:hover {
	color: $mt-dpurple100;
}
.cy-text-mt-dpurple200,.cy-text-h-mt-dpurple200:hover {
	color: $mt-dpurple200;
}
.cy-text-mt-dpurple300,.cy-text-h-mt-dpurple300:hover {
	color: $mt-dpurple300;
}
.cy-text-mt-dpurple400,.cy-text-h-mt-dpurple400:hover {
	color: $mt-dpurple400;
}
.cy-text-mt-dpurple500,.cy-text-h-mt-dpurple500:hover {
	color: $mt-dpurple500;
}
.cy-text-mt-dpurple600,.cy-text-h-mt-dpurple600:hover {
	color: $mt-dpurple600;
}
.cy-text-mt-dpurple700,.cy-text-h-mt-dpurple700:hover {
	color: $mt-dpurple700;
}
.cy-text-mt-dpurple800,.cy-text-h-mt-dpurple800:hover {
	color: $mt-dpurple800;
}
.cy-text-mt-dpurple900,.cy-text-h-mt-dpurple900:hover {
	color: $mt-dpurple900;
}
.cy-text-mt-dpurpleA100,.cy-text-h-mt-dpurpleA100:hover {
	color: $mt-dpurpleA100;
}
.cy-text-mt-dpurpleA200,.cy-text-h-mt-dpurpleA200:hover {
	color: $mt-dpurpleA200;
}
.cy-text-mt-dpurpleA400,.cy-text-h-mt-dpurpleA400:hover {
	color: $mt-dpurpleA400;
}
.cy-text-mt-dpurpleA700,.cy-text-h-mt-dpurpleA700:hover {
	color: $mt-dpurpleA700;
}
