@import '../../../colors/material/green';

.cy-text-mt-green,.cy-text-h-mt-green:hover {
	color: $mt-green;
}
.cy-text-mt-green100,.cy-text-h-mt-green100:hover {
	color: $mt-green100;
}
.cy-text-mt-green200,.cy-text-h-mt-green200:hover {
	color: $mt-green200;
}
.cy-text-mt-green300,.cy-text-h-mt-green300:hover {
	color: $mt-green300;
}
.cy-text-mt-green400,.cy-text-h-mt-green400:hover {
	color: $mt-green400;
}
.cy-text-mt-green500,.cy-text-h-mt-green500:hover {
	color: $mt-green500;
}
.cy-text-mt-green600,.cy-text-h-mt-green600:hover {
	color: $mt-green600;
}
.cy-text-mt-green700,.cy-text-h-mt-green700:hover {
	color: $mt-green700;
}
.cy-text-mt-green800,.cy-text-h-mt-green800:hover {
	color: $mt-green800;
}
.cy-text-mt-green900,.cy-text-h-mt-green900:hover {
	color: $mt-green900;
}
.cy-text-mt-greenA100,.cy-text-h-mt-greenA100:hover {
	color: $mt-greenA100;
}
.cy-text-mt-greenA200,.cy-text-h-mt-greenA200:hover {
	color: $mt-greenA200;
}
.cy-text-mt-greenA400,.cy-text-h-mt-greenA400:hover {
	color: $mt-greenA400;
}
.cy-text-mt-greenA700,.cy-text-h-mt-greenA700:hover {
	color: $mt-greenA700;
}
