@import '../../../colors/material/grey';

.cy-text-mt-grey,.cy-text-h-mt-grey:hover {
	color: $mt-grey;
}
.cy-text-mt-grey100,.cy-text-h-mt-grey100:hover {
	color: $mt-grey100;
}
.cy-text-mt-grey200,.cy-text-h-mt-grey200:hover {
	color: $mt-grey200;
}
.cy-text-mt-grey300,.cy-text-h-mt-grey300:hover {
	color: $mt-grey300;
}
.cy-text-mt-grey400,.cy-text-h-mt-grey400:hover {
	color: $mt-grey400;
}
.cy-text-mt-grey500,.cy-text-h-mt-grey500:hover {
	color: $mt-grey500;
}
.cy-text-mt-grey600,.cy-text-h-mt-grey600:hover {
	color: $mt-grey600;
}
.cy-text-mt-grey700,.cy-text-h-mt-grey700:hover {
	color: $mt-grey700;
}
.cy-text-mt-grey800,.cy-text-h-mt-grey800:hover {
	color: $mt-grey800;
}
.cy-text-mt-grey900,.cy-text-h-mt-grey900:hover {
	color: $mt-grey900;
}