@import '../../../colors/material/lblue';

.cy-text-mt-lblue,.cy-text-h-mt-lblue:hover {
	color: $mt-lblue;
}
.cy-text-mt-lblue100,.cy-text-h-mt-lblue100:hover {
	color: $mt-lblue100;
}
.cy-text-mt-lblue200,.cy-text-h-mt-lblue200:hover {
	color: $mt-lblue200;
}
.cy-text-mt-lblue300,.cy-text-h-mt-lblue300:hover {
	color: $mt-lblue300;
}
.cy-text-mt-lblue400,.cy-text-h-mt-lblue400:hover {
	color: $mt-lblue400;
}
.cy-text-mt-lblue500,.cy-text-h-mt-lblue500:hover {
	color: $mt-lblue500;
}
.cy-text-mt-lblue600,.cy-text-h-mt-lblue600:hover {
	color: $mt-lblue600;
}
.cy-text-mt-lblue700,.cy-text-h-mt-lblue700:hover {
	color: $mt-lblue700;
}
.cy-text-mt-lblue800,.cy-text-h-mt-lblue800:hover {
	color: $mt-lblue800;
}
.cy-text-mt-lblue900,.cy-text-h-mt-lblue900:hover {
	color: $mt-lblue900;
}
.cy-text-mt-lblueA100,.cy-text-h-mt-lblueA100:hover {
	color: $mt-lblueA100;
}
.cy-text-mt-lblueA200,.cy-text-h-mt-lblueA200:hover {
	color: $mt-lblueA200;
}
.cy-text-mt-lblueA400,.cy-text-h-mt-lblueA400:hover {
	color: $mt-lblueA400;
}
.cy-text-mt-lblueA700,.cy-text-h-mt-lblueA700:hover {
	color: $mt-lblueA700;
}
