@import '../../../colors/material/lgreen';

.cy-text-mt-lgreen,.cy-text-h-mt-lgreen:hover {
	color: $mt-lgreen;
}
.cy-text-mt-lgreen100,.cy-text-h-mt-lgreen100:hover {
	color: $mt-lgreen100;
}
.cy-text-mt-lgreen200,.cy-text-h-mt-lgreen200:hover {
	color: $mt-lgreen200;
}
.cy-text-mt-lgreen300,.cy-text-h-mt-lgreen300:hover {
	color: $mt-lgreen300;
}
.cy-text-mt-lgreen400,.cy-text-h-mt-lgreen400:hover {
	color: $mt-lgreen400;
}
.cy-text-mt-lgreen500,.cy-text-h-mt-lgreen500:hover {
	color: $mt-lgreen500;
}
.cy-text-mt-lgreen600,.cy-text-h-mt-lgreen600:hover {
	color: $mt-lgreen600;
}
.cy-text-mt-lgreen700,.cy-text-h-mt-lgreen700:hover {
	color: $mt-lgreen700;
}
.cy-text-mt-lgreen800,.cy-text-h-mt-lgreen800:hover {
	color: $mt-lgreen800;
}
.cy-text-mt-lgreen900,.cy-text-h-mt-lgreen900:hover {
	color: $mt-lgreen900;
}
.cy-text-mt-lgreenA100,.cy-text-h-mt-lgreenA100:hover {
	color: $mt-lgreenA100;
}
.cy-text-mt-lgreenA200,.cy-text-h-mt-lgreenA200:hover {
	color: $mt-lgreenA200;
}
.cy-text-mt-lgreenA400,.cy-text-h-mt-lgreenA400:hover {
	color: $mt-lgreenA400;
}
.cy-text-mt-lgreenA700,.cy-text-h-mt-lgreenA700:hover {
	color: $mt-lgreenA700;
}
