@import '../../../colors/material/lime';

.cy-text-mt-lime,.cy-text-h-mt-lime:hover {
	color: $mt-lime;
}
.cy-text-mt-lime100,.cy-text-h-mt-lime100:hover {
	color: $mt-lime100;
}
.cy-text-mt-lime200,.cy-text-h-mt-lime200:hover {
	color: $mt-lime200;
}
.cy-text-mt-lime300,.cy-text-h-mt-lime300:hover {
	color: $mt-lime300;
}
.cy-text-mt-lime400,.cy-text-h-mt-lime400:hover {
	color: $mt-lime400;
}
.cy-text-mt-lime500,.cy-text-h-mt-lime500:hover {
	color: $mt-lime500;
}
.cy-text-mt-lime600,.cy-text-h-mt-lime600:hover {
	color: $mt-lime600;
}
.cy-text-mt-lime700,.cy-text-h-mt-lime700:hover {
	color: $mt-lime700;
}
.cy-text-mt-lime800,.cy-text-h-mt-lime800:hover {
	color: $mt-lime800;
}
.cy-text-mt-lime900,.cy-text-h-mt-lime900:hover {
	color: $mt-lime900;
}
.cy-text-mt-limeA100,.cy-text-h-mt-limeA100:hover {
	color: $mt-limeA100;
}
.cy-text-mt-limeA200,.cy-text-h-mt-limeA200:hover {
	color: $mt-limeA200;
}
.cy-text-mt-limeA400,.cy-text-h-mt-limeA400:hover {
	color: $mt-limeA400;
}
.cy-text-mt-limeA700,.cy-text-h-mt-limeA700:hover {
	color: $mt-limeA700;
}
