@import '../../../colors/material/orange';

.cy-text-mt-orange,.cy-text-h-mt-orange:hover {
	color: $mt-orange;
}
.cy-text-mt-orange100,.cy-text-h-mt-orange100:hover {
	color: $mt-orange100;
}
.cy-text-mt-orange200,.cy-text-h-mt-orange200:hover {
	color: $mt-orange200;
}
.cy-text-mt-orange300,.cy-text-h-mt-orange300:hover {
	color: $mt-orange300;
}
.cy-text-mt-orange400,.cy-text-h-mt-orange400:hover {
	color: $mt-orange400;
}
.cy-text-mt-orange500,.cy-text-h-mt-orange500:hover {
	color: $mt-orange500;
}
.cy-text-mt-orange600,.cy-text-h-mt-orange600:hover {
	color: $mt-orange600;
}
.cy-text-mt-orange700,.cy-text-h-mt-orange700:hover {
	color: $mt-orange700;
}
.cy-text-mt-orange800,.cy-text-h-mt-orange800:hover {
	color: $mt-orange800;
}
.cy-text-mt-orange900,.cy-text-h-mt-orange900:hover {
	color: $mt-orange900;
}
.cy-text-mt-orangeA100,.cy-text-h-mt-orangeA100:hover {
	color: $mt-orangeA100;
}
.cy-text-mt-orangeA200,.cy-text-h-mt-orangeA200:hover {
	color: $mt-orangeA200;
}
.cy-text-mt-orangeA400,.cy-text-h-mt-orangeA400:hover {
	color: $mt-orangeA400;
}
.cy-text-mt-orangeA700,.cy-text-h-mt-orangeA700:hover {
	color: $mt-orangeA700;
}
