@import '../../../colors/material/purple';

.cy-text-mt-purple,.cy-text-h-mt-purple:hover {
	color: $mt-purple;
}
.cy-text-mt-purple100,.cy-text-h-mt-purple100:hover {
	color: $mt-purple100;
}
.cy-text-mt-purple200,.cy-text-h-mt-purple200:hover {
	color: $mt-purple200;
}
.cy-text-mt-purple300,.cy-text-h-mt-purple300:hover {
	color: $mt-purple300;
}
.cy-text-mt-purple400 ,.cy-text-h-mt-purple400:hover{
	color: $mt-purple400;
}
.cy-text-mt-purple500,.cy-text-h-mt-purple500:hover {
	color: $mt-purple500;
}
.cy-text-mt-purple600,.cy-text-h-mt-purple600:hover {
	color: $mt-purple600;
}
.cy-text-mt-purple700,.cy-text-h-mt-purple700:hover{
	color: $mt-purple700;
}
.cy-text-mt-purple800,.cy-text-h-mt-purple800:hover {
	color: $mt-purple800;
}
.cy-text-mt-purple900,.cy-text-h-mt-purple900:hover {
	color: $mt-purple900;
}
.cy-text-mt-purpleA100,.cy-text-h-mt-purpleA100:hover {
	color: $mt-purpleA100;
}
.cy-text-mt-purpleA200,.cy-text-h-mt-purpleA200:hover {
	color: $mt-purpleA200;
}
.cy-text-mt-purpleA400,.cy-text-h-mt-purpleA400:hover {
	color: $mt-purpleA400;
}
.cy-text-mt-purpleA700,.cy-text-h-mt-purpleA700:hover {
	color: $mt-purpleA700;
}
