@import '../../../colors/material/red.scss';

.cy-text-mt-red,.cy-text-h-mt-red:hover {
	color: $mt-red;
}
.cy-text-mt-red100 ,.cy-text-h-mt-red100:hover{
	color: $mt-red100;
}
.cy-text-mt-red200 ,.cy-text-h-mt-red200:hover{
	color: $mt-red200;
}
.cy-text-mt-red300,.cy-text-h-mt-red300:hover {
	color: $mt-red300;
}
.cy-text-mt-red400 ,.cy-text-h-mt-red400:hover{
	color: $mt-red400;
}
.cy-text-mt-red500 ,.cy-text-h-mt-red500:hover{
	color: $mt-red500;
}
.cy-text-mt-red600 ,.cy-text-h-mt-red600:hover{
	color: $mt-red600;
}
.cy-text-mt-red700 ,.cy-text-h-mt-red700:hover{
	color: $mt-red700;
}
.cy-text-mt-red800 ,.cy-text-h-mt-red800:hover{
	color: $mt-red800;
}
.cy-text-mt-red900,.cy-text-h-mt-red900:hover {
	color: $mt-red900;
}
.cy-text-mt-redA100 ,.cy-text-h-mt-redA100:hover{
	color: $mt-redA100;
}
.cy-text-mt-redA200,.cy-text-h-mt-redA200:hover {
	color: $mt-redA200;
}
.cy-text-mt-redA400,.cy-text-h-mt-redA400:hover {
	color: $mt-redA400;
}
.cy-text-mt-redA700,.cy-text-h-mt-redA700:hover {
	color: $mt-redA700;
}
