@import '../../../colors/material/teal';

.cy-text-mt-teal,.cy-text-h-mt-teal {
	color: $mt-teal;
}
.cy-text-mt-teal100,.cy-text-h-mt-teal100:hover {
	color: $mt-teal100;
}
.cy-text-mt-teal200,.cy-text-h-mt-teal200:hover{
	color: $mt-teal200;
}
.cy-text-mt-teal300,.cy-text-h-mt-teal300:hover {
	color: $mt-teal300;
}
.cy-text-mt-teal400,.cy-text-h-mt-teal400:hover {
	color: $mt-teal400;
}
.cy-text-mt-teal500,.cy-text-h-mt-teal500:hover {
	color: $mt-teal500;
}
.cy-text-mt-teal600,.cy-text-h-mt-teal600:hover {
	color: $mt-teal600;
}
.cy-text-mt-teal700,.cy-text-h-mt-teal700:hover {
	color: $mt-teal700;
}
.cy-text-mt-teal800,.cy-text-h-mt-teal800:hover {
	color: $mt-teal800;
}
.cy-text-mt-teal900,.cy-text-h-mt-teal900:hover {
	color: $mt-teal900;
}
.cy-text-mt-tealA100,.cy-text-h-mt-tealA100:hover {
	color: $mt-tealA100;
}
.cy-text-mt-tealA200,.cy-text-h-mt-tealA200:hover {
	color: $mt-tealA200;
}
.cy-text-mt-tealA400,.cy-text-h-mt-tealA400:hover {
	color: $mt-tealA400;
}
.cy-text-mt-tealA700,.cy-text-h-mt-tealA700:hover {
	color: $mt-tealA700;
}
