@import '../../../colors/material/yellow';

.cy-text-mt-yellow,.cy-text-h-mt-yellow {
	color: $mt-yellow;
}
.cy-text-mt-yellow100,.cy-text-h-mt-yellow100 {
	color: $mt-yellow100;
}
.cy-text-mt-yellow200,.cy-text-h-mt-yellow200 {
	color: $mt-yellow200;
}
.cy-text-mt-yellow300,.cy-text-h-mt-yellow300 {
	color: $mt-yellow300;
}
.cy-text-mt-yellow400,.cy-text-h-mt-yellow400 {
	color: $mt-yellow400;
}
.cy-text-mt-yellow500,.cy-text-h-mt-yellow500 {
	color: $mt-yellow500;
}
.cy-text-mt-yellow600,.cy-text-h-mt-yellow600 {
	color: $mt-yellow600;
}
.cy-text-mt-yellow700,.cy-text-h-mt-yellow700 {
	color: $mt-yellow700;
}
.cy-text-mt-yellow800,.cy-text-h-mt-yellow800 {
	color: $mt-yellow800;
}
.cy-text-mt-yellow900,.cy-text-h-mt-yellow900 {
	color: $mt-yellow900;
}
.cy-text-mt-yellowA100,.cy-text-h-mt-yellowA100 {
	color: $mt-yellowA100;
}
.cy-text-mt-yellowA200,.cy-text-h-mt-yellowA200 {
	color: $mt-yellowA200;
}
.cy-text-mt-yellowA400,.cy-text-h-mt-yellowA400 {
	color: $mt-yellowA400;
}
.cy-text-mt-yellowA700,.cy-text-h-mt-yellowA700 {
	color: $mt-yellowA700;
}
