@import '../../../colors/material/bluegrey';

.cy-bd-mt-bluegrey,.cy-bd-h-mt-bluegrey:hover {
	border-color: $mt-bluegrey;
}
.cy-bd-mt-bluegrey100,.cy-bd-h-mt-bluegrey100:hover{
	border-color: $mt-bluegrey100;
}
.cy-bd-mt-bluegrey200,.cy-bd-h-mt-bluegrey200:hover {
	border-color: $mt-bluegrey200;
}
.cy-bd-mt-bluegrey300,.cy-bd-h-mt-bluegrey300:hover{
	border-color: $mt-bluegrey300;
}
.cy-bd-mt-bluegrey400,.cy-bd-h-mt-bluegrey400:hover{
	border-color: $mt-bluegrey400;
}
.cy-bd-mt-bluegrey500,.cy-bd-h-mt-bluegrey500:hover{
	border-color: $mt-bluegrey500;
}
.cy-bd-mt-bluegrey600,.cy-bd-h-mt-bluegrey600:hover {
	border-color: $mt-bluegrey600;
}
.cy-bd-mt-bluegrey700,.cy-bd-h-mt-bluegrey700:hover{
	border-color: $mt-bluegrey700;
}
.cy-bd-mt-bluegrey800,.cy-bd-h-mt-bluegrey800:hover{
	border-color: $mt-bluegrey800;
}
.cy-bd-mt-bluegrey900.cy-bd-h-mt-bluegrey900:hover {
	border-color: $mt-bluegrey900;
}