@import '../../../colors/material/blue';

.cy-bd-mt-blue,.cy-bd-h-mt-blue:hover {
	border-color: $mt-blue;
}
.cy-bd-mt-blue100,.cy-bd-h-mt-blue100:hover{
	border-color: $mt-blue100;
}
.cy-bd-mt-blue200,.cy-bd-h-mt-blue200:hover {
	border-color: $mt-blue200;
}
.cy-bd-mt-blue300,.cy-bd-h-mt-blue300:hover{
	border-color: $mt-blue300;
}
.cy-bd-mt-blue400,.cy-bd-h-mt-blue400:hover{
	border-color: $mt-blue400;
}
.cy-bd-mt-blue500,.cy-bd-h-mt-blue500:hover{
	border-color: $mt-blue500;
}
.cy-bd-mt-blue600,.cy-bd-h-mt-blue600:hover {
	border-color: $mt-blue600;
}
.cy-bd-mt-blue700,.cy-bd-h-mt-blue700:hover{
	border-color: $mt-blue700;
}
.cy-bd-mt-blue800,.cy-bd-h-mt-blue800:hover{
	border-color: $mt-blue800;
}
.cy-bd-mt-blue900.cy-bd-h-mt-blue900:hover {
	border-color: $mt-blue900;
}
.cy-bd-mt-blueA100.cy-bd-h-mt-blueA100:hover {
	border-color: $mt-blueA100;
}
.cy-bd-mt-blueA200,.cy-bd-h-mt-blueA200:hover {
	border-color: $mt-blueA200;
}
.cy-bd-mt-blueA400,.cy-bd-h-mt-blueA400:hover{
	border-color: $mt-blueA400;
}
.cy-bd-mt-blueA700,.cy-bd-h-mt-blue700:hover{
	border-color: $mt-blueA700;
}
