@import '../../../colors/material/cyan';

.cy-bd-mt-cyan,.cy-bd-h-mt-cyan:hover {
	border-color: $mt-cyan;
}
.cy-bd-mt-cyan100,.cy-bd-h-mt-cyan100:hover{
	border-color: $mt-cyan100;
}
.cy-bd-mt-cyan200,.cy-bd-h-mt-cyan200:hover {
	border-color: $mt-cyan200;
}
.cy-bd-mt-cyan300,.cy-bd-h-mt-cyan300:hover{
	border-color: $mt-cyan300;
}
.cy-bd-mt-cyan400,.cy-bd-h-mt-cyan400:hover{
	border-color: $mt-cyan400;
}
.cy-bd-mt-cyan500,.cy-bd-h-mt-cyan500:hover{
	border-color: $mt-cyan500;
}
.cy-bd-mt-cyan600,.cy-bd-h-mt-cyan600:hover {
	border-color: $mt-cyan600;
}
.cy-bd-mt-cyan700,.cy-bd-h-mt-cyan700:hover{
	border-color: $mt-cyan700;
}
.cy-bd-mt-cyan800,.cy-bd-h-mt-cyan800:hover{
	border-color: $mt-cyan800;
}
.cy-bd-mt-cyan900.cy-bd-h-mt-cyan900:hover {
	border-color: $mt-cyan900;
}
.cy-bd-mt-cyanA100.cy-bd-h-mt-cyanA100:hover {
	border-color: $mt-cyanA100;
}
.cy-bd-mt-cyanA200,.cy-bd-h-mt-cyanA200:hover {
	border-color: $mt-cyanA200;
}
.cy-bd-mt-cyanA400,.cy-bd-h-mt-cyanA400:hover{
	border-color: $mt-cyanA400;
}
.cy-bd-mt-cyanA700,.cy-bd-h-mt-cyan700:hover{
	border-color: $mt-cyanA700;
}
