@import '../../../colors/material/dpurple';

.cy-bd-mt-dpurple,.cy-bd-h-mt-dpurple:hover {
	border-color: $mt-dpurple;
}
.cy-bd-mt-dpurple100,.cy-bd-h-mt-dpurple100:hover{
	border-color: $mt-dpurple100;
}
.cy-bd-mt-dpurple200,.cy-bd-h-mt-dpurple200:hover {
	border-color: $mt-dpurple200;
}
.cy-bd-mt-dpurple300,.cy-bd-h-mt-dpurple300:hover{
	border-color: $mt-dpurple300;
}
.cy-bd-mt-dpurple400,.cy-bd-h-mt-dpurple400:hover{
	border-color: $mt-dpurple400;
}
.cy-bd-mt-dpurple500,.cy-bd-h-mt-dpurple500:hover{
	border-color: $mt-dpurple500;
}
.cy-bd-mt-dpurple600,.cy-bd-h-mt-dpurple600:hover {
	border-color: $mt-dpurple600;
}
.cy-bd-mt-dpurple700,.cy-bd-h-mt-dpurple700:hover{
	border-color: $mt-dpurple700;
}
.cy-bd-mt-dpurple800,.cy-bd-h-mt-dpurple800:hover{
	border-color: $mt-dpurple800;
}
.cy-bd-mt-dpurple900.cy-bd-h-mt-dpurple900:hover {
	border-color: $mt-dpurple900;
}
.cy-bd-mt-dpurpleA100.cy-bd-h-mt-dpurpleA100:hover {
	border-color: $mt-dpurpleA100;
}
.cy-bd-mt-dpurpleA200,.cy-bd-h-mt-dpurpleA200:hover {
	border-color: $mt-dpurpleA200;
}
.cy-bd-mt-dpurpleA400,.cy-bd-h-mt-dpurpleA400:hover{
	border-color: $mt-dpurpleA400;
}
.cy-bd-mt-dpurpleA700,.cy-bd-h-mt-dpurple700:hover{
	border-color: $mt-dpurpleA700;
}
