@import '../../../colors/material/green';

.cy-bd-mt-green,.cy-bd-h-mt-green:hover {
	border-color: $mt-green;
}
.cy-bd-mt-green100,.cy-bd-h-mt-green100:hover{
	border-color: $mt-green100;
}
.cy-bd-mt-green200,.cy-bd-h-mt-green200:hover {
	border-color: $mt-green200;
}
.cy-bd-mt-green300,.cy-bd-h-mt-green300:hover{
	border-color: $mt-green300;
}
.cy-bd-mt-green400,.cy-bd-h-mt-green400:hover{
	border-color: $mt-green400;
}
.cy-bd-mt-green500,.cy-bd-h-mt-green500:hover{
	border-color: $mt-green500;
}
.cy-bd-mt-green600,.cy-bd-h-mt-green600:hover {
	border-color: $mt-green600;
}
.cy-bd-mt-green700,.cy-bd-h-mt-green700:hover{
	border-color: $mt-green700;
}
.cy-bd-mt-green800,.cy-bd-h-mt-green800:hover{
	border-color: $mt-green800;
}
.cy-bd-mt-green900.cy-bd-h-mt-green900:hover {
	border-color: $mt-green900;
}
.cy-bd-mt-greenA100.cy-bd-h-mt-greenA100:hover {
	border-color: $mt-greenA100;
}
.cy-bd-mt-greenA200,.cy-bd-h-mt-greenA200:hover {
	border-color: $mt-greenA200;
}
.cy-bd-mt-greenA400,.cy-bd-h-mt-greenA400:hover{
	border-color: $mt-greenA400;
}
.cy-bd-mt-greenA700,.cy-bd-h-mt-green700:hover{
	border-color: $mt-greenA700;
}
