@import '../../../colors/material/purple';

.cy-bd-mt-purple,.cy-bd-h-mt-purple:hover {
	border-color: $mt-purple;
}
.cy-bd-mt-purple100,.cy-bd-h-mt-purple100:hover{
	border-color: $mt-purple100;
}
.cy-bd-mt-purple200,.cy-bd-h-mt-purple200:hover {
	border-color: $mt-purple200;
}
.cy-bd-mt-purple300,.cy-bd-h-mt-purple300:hover{
	border-color: $mt-purple300;
}
.cy-bd-mt-purple400,.cy-bd-h-mt-purple400:hover{
	border-color: $mt-purple400;
}
.cy-bd-mt-purple500,.cy-bd-h-mt-purple500:hover{
	border-color: $mt-purple500;
}
.cy-bd-mt-purple600,.cy-bd-h-mt-purple600:hover {
	border-color: $mt-purple600;
}
.cy-bd-mt-purple700,.cy-bd-h-mt-purple700:hover{
	border-color: $mt-purple700;
}
.cy-bd-mt-purple800,.cy-bd-h-mt-purple800:hover{
	border-color: $mt-purple800;
}
.cy-bd-mt-purple900.cy-bd-h-mt-purple900:hover {
	border-color: $mt-purple900;
}
.cy-bd-mt-purpleA100.cy-bd-h-mt-purpleA100:hover {
	border-color: $mt-purpleA100;
}
.cy-bd-mt-purpleA200,.cy-bd-h-mt-purpleA200:hover {
	border-color: $mt-purpleA200;
}
.cy-bd-mt-purpleA400,.cy-bd-h-mt-purpleA400:hover{
	border-color: $mt-purpleA400;
}
.cy-bd-mt-purpleA700,.cy-bd-h-mt-purple700:hover{
	border-color: $mt-purpleA700;
}
