@import '../../../colors/flatui/_green';

.cy-text-flat-niagara,.cy-text-h-flat-niagara:hover {
	color: $niagara;
}
.cy-text-flat-brightturquoise,.cy-text-h-flat-brightturquoise:hover {
	color: $brightturquoise;
}
.cy-text-flat-java,.cy-text-h-flat-java:hover {
	color: $java;
}
.cy-text-flat-lightgreen,.cy-text-h-flat-lightgreen:hover {
	color: $lightgreen;
}
.cy-text-flat-oceangreen,.cy-text-h-flat-oceangreen:hover {
	color: $oceangreen;
}
.cy-text-flat-aquaisland,.cy-text-h-flat-aquaisland:hover {
	color: $aquaisland;
}
.cy-text-flat-mediumturquoise,.cy-text-h-flat-mediumturquoise:hover {
	color: $mediumturquoise;
}
.cy-text-flat-summergreen,.cy-text-h-flat-summergreen:hover {
	color: $summergreen;
}
.cy-text-flat-observatory,.cy-text-h-flat-observatory:hover {
	color: $observatory;
}
.cy-text-flat-salem,.cy-text-h-flat-salem:hover {
	color: $salem;
}
.cy-text-flat-jade,.cy-text-h-flat-jade:hover {
	color: $jade;
}
.cy-text-flat-freespeechaquamarine,.cy-text-h-flat-freespeechaquamarine:hover {
	color: $freespeechaquamarine;
}
.cy-text-flat-greenhaze,.cy-text-h-flat-greenhaze:hover {
	color: $greenhaze;
}
.cy-text-flat-eucalyptus,.cy-text-h-flat-eucalyptus:hover {
	color: $eucalyptus;
}
.cy-text-flat-malachite,.cy-text-h-flat-malachite:hover {
	color: $malachite;
}
.cy-text-flat-junglegreen,.cy-text-h-flat-junglegreen:hover {
	color: $junglegreen;
}
.cy-text-flat-darkseagreen,.cy-text-h-flat-darkseagreen:hover {
	color: $darkseagreen;
}
.cy-text-flat-gossip,.cy-text-h-flat-gossip:hover {
	color: $gossip;
}
.cy-text-flat-emerald,.cy-text-h-flat-emerald:hover {
	color: $emerald;
}
.cy-text-flat-mountainmeadow,.cy-text-h-flat-mountainmeadow:hover {
	color: $mountainmeadow;
}
.cy-text-flat-shamrock,.cy-text-h-flat-shamrock:hover {
	color: $shamrock;
}
.cy-text-flat-riptide,.cy-text-h-flat-riptide:hover {
	color: $riptide;
}
.cy-text-flat-madang,.cy-text-h-flat-madang:hover {
	color: $madang;
}
.cy-text-flat-turquoise,.cy-text-h-flat-turquoise:hover {
	color: $turquoise;
}
.cy-text-flat-mediumaquamarine,.cy-text-h-flat-mediumaquamarine:hover {
	color: $mediumaquamarine;
}
.cy-text-flat-lightseagreen,.cy-text-h-flat-lightseagreen:hover {
	color: $lightseagreen;
}
.cy-text-flat-downy,.cy-text-h-flat-downy:hover {
	color: $downy;
}
.cy-text-flat-silvertree,.cy-text-h-flat-silvertree:hover {
	color: $silvertree;
}
.cy-text-flat-carribeangreen,.cy-text-h-flat-carribeangreen:hover {
	color: $carribeangreen;
}
