@import '../../../colors/flatui/orange';

.cy-text-flat-capehoney,.cy-text-h-flat-capehoney:hover {
	color: $capehoney;
}
.cy-text-flat-saffronmango,.cy-text-h-flat-saffronmango:hover {
	color: $saffronmango;
}
.cy-text-flat-lightiningyellow,.cy-text-h-flat-lightiningyellow:hover {
	color: $lightiningyellow;
}
.cy-text-flat-seabuckthron,.cy-text-h-flat-seabuckthron:hover {
	color: $seabuckthron;
}
.cy-text-flat-tahitgold,.cy-text-h-flat-tahitgold:hover {
	color: $tahitgold;
}
.cy-text-flat-california,.cy-text-h-flat-california:hover {
	color: $california;
}
.cy-text-flat-casablanca,.cy-text-h-flat-casablanca:hover {
	color: $casablanca;
}
.cy-text-flat-crusta,.cy-text-h-flat-crusta:hover {
	color: $crusta;
}
.cy-text-flat-firebrush,.cy-text-h-flat-firebrush:hover {
	color: $firebrush;
}
.cy-text-flat-supernova,.cy-text-h-flat-supernova:hover {
	color: $supernova;
}
.cy-text-flat-goldenrod,.cy-text-h-flat-goldenrod:hover {
	color: $goldenrod;
}
.cy-text-flat-carrotorange,.cy-text-h-flat-carrotorange:hover {
	color: $carrotorange;
}
.cy-text-flat-buttercup,.cy-text-h-flat-buttercup:hover {
	color: $buttercup;
}
.cy-text-flat-sandstorm,.cy-text-h-flat-sandstorm:hover {
	color: $sandstorm;
}
.cy-text-flat-jaffa,.cy-text-h-flat-jaffa:hover {
	color: $jaffa;
}
.cy-text-flat-ecstasy,.cy-text-h-flat-ecstasy:hover {
	color: $ecstasy;
}
.cy-text-flat-burntorange,.cy-text-h-flat-burntorange:hover {
	color: $burntorange;
}
.cy-text-flat-zest,.cy-text-h-flat-zest:hover {
	color: $zest;
}
.cy-text-flat-vivid,.cy-text-h-flat-vivid:hover {
	color: $vivid;
}
.cy-text-flat-mysin,.cy-text-h-flat-mysin:hover {
	color: $mysin;
}
.cy-text-flat-lightbuckthorn,.cy-text-h-flat-lightbuckthorn:hover {
	color: $lightbuckthorn;
}
