@import '../../../colors/flatui/red';

.cy-text-flat-pomegranate,.cy-text-h-flat-pomegranate:hover {
	color: $pomegranate;
}
.cy-text-flat-sunglo,.cy-text-h-flat-sunglo:hover {
	color: $sunglo;
}
.cy-text-flat-radicalred,.cy-text-h-flat-radicalred:hover {
	color: $radicalred;
}
.cy-text-flat-newyorkpink,.cy-text-h-flat-newyorkpink:hover {
	color: $newyorkpink;
}
.cy-text-flat-cabaret,.cy-text-h-flat-cabaret:hover {
	color: $cabaret;
}
.cy-text-flat-waxflower,.cy-text-h-flat-waxflower:hover {
	color: $waxflower;
}
.cy-text-flat-sunsetorange,.cy-text-h-flat-sunsetorange:hover {
	color: $sunsetorange;
}
.cy-text-flat-razzmatazz,.cy-text-h-flat-razzmatazz:hover {
	color: $razzmatazz;
}
.cy-text-flat-cinnabar,.cy-text-h-flat-cinnabar:hover {
	color: $cinnabar;
}
.cy-text-flat-monza,.cy-text-h-flat-monza:hover {
	color: $monza;
}
.cy-text-flat-tallpoppy,.cy-text-h-flat-tallpoppy:hover {
	color: $tallpoppy;
}
.cy-text-flat-valencia,.cy-text-h-flat-valencia:hover {
	color: $valencia;
}
.cy-text-flat-oldbrick,.cy-text-h-flat-oldbrick:hover {
	color: $oldbrick;
}
.cy-text-flat-thunderbird,.cy-text-h-flat-thunderbird:hover {
	color: $thunderbird;
}
.cy-text-flat-scarlet,.cy-text-h-flat-scarlet:hover {
	color: $scarlet;
}
.cy-text-flat-chestnutrose,.cy-text-h-flat-chestnutrose:hover {
	color: $chestnutrose;
}
.cy-text-flat-softred,.cy-text-h-flat-softred:hover {
	color: $softred;
}
.cy-text-flat-vividtangerine,.cy-text-h-flat-vividtangerine:hover {
	color: $vividtangerine;
}
.cy-text-flat-falcon,.cy-text-h-flat-falcon:hover {
	color: $falcon;
}
.cy-text-flat-froly,.cy-text-h-flat-froly:hover {
	color: $froly;
}
