@import '../../../colors/material/orange';

.cy-bg-mt-orange,.cy-bg-h-mt-orange:hover {
	background-color: $mt-orange;
}
.cy-bg-mt-orange100,.cy-bg-h-mt-orange100:hover{
	background-color: $mt-orange100;
}
.cy-bg-mt-orange200,.cy-bg-h-mt-orange200:hover {
	background-color: $mt-orange200;
}
.cy-bg-mt-orange300,.cy-bg-h-mt-orange300:hover{
	background-color: $mt-orange300;
}
.cy-bg-mt-orange400,.cy-bg-h-mt-orange400:hover{
	background-color: $mt-orange400;
}
.cy-bg-mt-orange500,.cy-bg-h-mt-orange500:hover{
	background-color: $mt-orange500;
}
.cy-bg-mt-orange600,.cy-bg-h-mt-orange600:hover {
	background-color: $mt-orange600;
}
.cy-bg-mt-orange700,.cy-bg-h-mt-orange700:hover{
	background-color: $mt-orange700;
}
.cy-bg-mt-orange800,.cy-bg-h-mt-orange800:hover{
	background-color: $mt-orange800;
}
.cy-bg-mt-orange900.cy-bg-h-mt-orange900:hover {
	background-color: $mt-orange900;
}
.cy-bg-mt-orangeA100.cy-bg-h-mt-orangeA100:hover {
	background-color: $mt-orangeA100;
}
.cy-bg-mt-orangeA200,.cy-bg-h-mt-orangeA200:hover {
	background-color: $mt-orangeA200;
}
.cy-bg-mt-orangeA400,.cy-bg-h-mt-orangeA400:hover{
	background-color: $mt-orangeA400;
}
.cy-bg-mt-orangeA700,.cy-bg-h-mt-orange700:hover{
	background-color: $mt-orangeA700;
}
