@import '../../../colors/material/red';

.cy-bg-mt-red,.cy-bg-h-mt-red:hover {
	background-color: $mt-red;
}
.cy-bg-mt-red100,.cy-bg-h-mt-red100:hover{
	background-color: $mt-red100;
}
.cy-bg-mt-red200,.cy-bg-h-mt-red200:hover {
	background-color: $mt-red200;
}
.cy-bg-mt-red300,.cy-bg-h-mt-red300:hover{
	background-color: $mt-red300;
}
.cy-bg-mt-red400,.cy-bg-h-mt-red400:hover{
	background-color: $mt-red400;
}
.cy-bg-mt-red500,.cy-bg-h-mt-red500:hover{
	background-color: $mt-red500;
}
.cy-bg-mt-red600,.cy-bg-h-mt-red600:hover {
	background-color: $mt-red600;
}
.cy-bg-mt-red700,.cy-bg-h-mt-red700:hover{
	background-color: $mt-red700;
}
.cy-bg-mt-red800,.cy-bg-h-mt-red800:hover{
	background-color: $mt-red800;
}
.cy-bg-mt-red900.cy-bg-h-mt-red900:hover {
	background-color: $mt-red900;
}
.cy-bg-mt-redA100.cy-bg-h-mt-redA100:hover {
	background-color: $mt-redA100;
}
.cy-bg-mt-redA200,.cy-bg-h-mt-redA200:hover {
	background-color: $mt-redA200;
}
.cy-bg-mt-redA400,.cy-bg-h-mt-redA400:hover{
	background-color: $mt-redA400;
}
.cy-bg-mt-redA700,.cy-bg-h-mt-red700:hover{
	background-color: $mt-redA700;
}
