@import '../../../colors/material/amber';

.cy-bg-mt-amber,.cy-bg-h-mt-amber:hover {
	background-color: $mt-amber;
}
.cy-bg-mt-amber100,.cy-bg-h-mt-amber100:hover{
	background-color: $mt-amber100;
}
.cy-bg-mt-amber200,.cy-bg-h-mt-amber200:hover {
	background-color: $mt-amber200;
}
.cy-bg-mt-amber300,.cy-bg-h-mt-amber300:hover{
	background-color: $mt-amber300;
}
.cy-bg-mt-amber400,.cy-bg-h-mt-amber400:hover{
	background-color: $mt-amber400;
}
.cy-bg-mt-amber500,.cy-bg-h-mt-amber500:hover{
	background-color: $mt-amber500;
}
.cy-bg-mt-amber600,.cy-bg-h-mt-amber600:hover {
	background-color: $mt-amber600;
}
.cy-bg-mt-amber700,.cy-bg-h-mt-amber700:hover{
	background-color: $mt-amber700;
}
.cy-bg-mt-amber800,.cy-bg-h-mt-amber800:hover{
	background-color: $mt-amber800;
}
.cy-bg-mt-amber900.cy-bg-h-mt-amber900:hover {
	background-color: $mt-amber900;
}
.cy-bg-mt-amberA100.cy-bg-h-mt-amberA100:hover {
	background-color: $mt-amberA100;
}
.cy-bg-mt-amberA200,.cy-bg-h-mt-amberA200:hover {
	background-color: $mt-amberA200;
}
.cy-bg-mt-amberA400,.cy-bg-h-mt-amberA400:hover{
	background-color: $mt-amberA400;
}
.cy-bg-mt-amberA700,.cy-bg-h-mt-amber700:hover{
	background-color: $mt-amberA700;
}
