@import '../../../colors/material/purple';

.cy-bg-mt-purple,.cy-bg-h-mt-purple:hover {
	background-color: $mt-purple;
}
.cy-bg-mt-purple100,.cy-bg-h-mt-purple100:hover{
	background-color: $mt-purple100;
}
.cy-bg-mt-purple200,.cy-bg-h-mt-purple200:hover {
	background-color: $mt-purple200;
}
.cy-bg-mt-purple300,.cy-bg-h-mt-purple300:hover{
	background-color: $mt-purple300;
}
.cy-bg-mt-purple400,.cy-bg-h-mt-purple400:hover{
	background-color: $mt-purple400;
}
.cy-bg-mt-purple500,.cy-bg-h-mt-purple500:hover{
	background-color: $mt-purple500;
}
.cy-bg-mt-purple600,.cy-bg-h-mt-purple600:hover {
	background-color: $mt-purple600;
}
.cy-bg-mt-purple700,.cy-bg-h-mt-purple700:hover{
	background-color: $mt-purple700;
}
.cy-bg-mt-purple800,.cy-bg-h-mt-purple800:hover{
	background-color: $mt-purple800;
}
.cy-bg-mt-purple900.cy-bg-h-mt-purple900:hover {
	background-color: $mt-purple900;
}
.cy-bg-mt-purpleA100.cy-bg-h-mt-purpleA100:hover {
	background-color: $mt-purpleA100;
}
.cy-bg-mt-purpleA200,.cy-bg-h-mt-purpleA200:hover {
	background-color: $mt-purpleA200;
}
.cy-bg-mt-purpleA400,.cy-bg-h-mt-purpleA400:hover{
	background-color: $mt-purpleA400;
}
.cy-bg-mt-purpleA700,.cy-bg-h-mt-purple700:hover{
	background-color: $mt-purpleA700;
}
