@import '../../../colors/material/lblue';

.cy-bg-mt-lblue,.cy-bg-h-mt-lblue:hover {
	background-color: $mt-lblue;
}
.cy-bg-mt-lblue100,.cy-bg-h-mt-lblue100:hover{
	background-color: $mt-lblue100;
}
.cy-bg-mt-lblue200,.cy-bg-h-mt-lblue200:hover {
	background-color: $mt-lblue200;
}
.cy-bg-mt-lblue300,.cy-bg-h-mt-lblue300:hover{
	background-color: $mt-lblue300;
}
.cy-bg-mt-lblue400,.cy-bg-h-mt-lblue400:hover{
	background-color: $mt-lblue400;
}
.cy-bg-mt-lblue500,.cy-bg-h-mt-lblue500:hover{
	background-color: $mt-lblue500;
}
.cy-bg-mt-lblue600,.cy-bg-h-mt-lblue600:hover {
	background-color: $mt-lblue600;
}
.cy-bg-mt-lblue700,.cy-bg-h-mt-lblue700:hover{
	background-color: $mt-lblue700;
}
.cy-bg-mt-lblue800,.cy-bg-h-mt-lblue800:hover{
	background-color: $mt-lblue800;
}
.cy-bg-mt-lblue900.cy-bg-h-mt-lblue900:hover {
	background-color: $mt-lblue900;
}
.cy-bg-mt-lblueA100.cy-bg-h-mt-lblueA100:hover {
	background-color: $mt-lblueA100;
}
.cy-bg-mt-lblueA200,.cy-bg-h-mt-lblueA200:hover {
	background-color: $mt-lblueA200;
}
.cy-bg-mt-lblueA400,.cy-bg-h-mt-lblueA400:hover{
	background-color: $mt-lblueA400;
}
.cy-bg-mt-lblueA700,.cy-bg-h-mt-lblue700:hover{
	background-color: $mt-lblueA700;
}
