@import '../../../colors/material/yellow';

.cy-bg-mt-yellow,.cy-bg-h-mt-yellow:hover {
	background-color: $mt-yellow;
}
.cy-bg-mt-yellow100,.cy-bg-h-mt-yellow100:hover{
	background-color: $mt-yellow100;
}
.cy-bg-mt-yellow200,.cy-bg-h-mt-yellow200:hover {
	background-color: $mt-yellow200;
}
.cy-bg-mt-yellow300,.cy-bg-h-mt-yellow300:hover{
	background-color: $mt-yellow300;
}
.cy-bg-mt-yellow400,.cy-bg-h-mt-yellow400:hover{
	background-color: $mt-yellow400;
}
.cy-bg-mt-yellow500,.cy-bg-h-mt-yellow500:hover{
	background-color: $mt-yellow500;
}
.cy-bg-mt-yellow600,.cy-bg-h-mt-yellow600:hover {
	background-color: $mt-yellow600;
}
.cy-bg-mt-yellow700,.cy-bg-h-mt-yellow700:hover{
	background-color: $mt-yellow700;
}
.cy-bg-mt-yellow800,.cy-bg-h-mt-yellow800:hover{
	background-color: $mt-yellow800;
}
.cy-bg-mt-yellow900.cy-bg-h-mt-yellow900:hover {
	background-color: $mt-yellow900;
}
.cy-bg-mt-yellowA100.cy-bg-h-mt-yellowA100:hover {
	background-color: $mt-yellowA100;
}
.cy-bg-mt-yellowA200,.cy-bg-h-mt-yellowA200:hover {
	background-color: $mt-yellowA200;
}
.cy-bg-mt-yellowA400,.cy-bg-h-mt-yellowA400:hover{
	background-color: $mt-yellowA400;
}
.cy-bg-mt-yellowA700,.cy-bg-h-mt-yellow700:hover{
	background-color: $mt-yellowA700;
}
