@import '../../../colors/material/cyan';

.cy-bg-mt-cyan,.cy-bg-h-mt-cyan:hover {
	background-color: $mt-cyan;
}
.cy-bg-mt-cyan100,.cy-bg-h-mt-cyan100:hover{
	background-color: $mt-cyan100;
}
.cy-bg-mt-cyan200,.cy-bg-h-mt-cyan200:hover {
	background-color: $mt-cyan200;
}
.cy-bg-mt-cyan300,.cy-bg-h-mt-cyan300:hover{
	background-color: $mt-cyan300;
}
.cy-bg-mt-cyan400,.cy-bg-h-mt-cyan400:hover{
	background-color: $mt-cyan400;
}
.cy-bg-mt-cyan500,.cy-bg-h-mt-cyan500:hover{
	background-color: $mt-cyan500;
}
.cy-bg-mt-cyan600,.cy-bg-h-mt-cyan600:hover {
	background-color: $mt-cyan600;
}
.cy-bg-mt-cyan700,.cy-bg-h-mt-cyan700:hover{
	background-color: $mt-cyan700;
}
.cy-bg-mt-cyan800,.cy-bg-h-mt-cyan800:hover{
	background-color: $mt-cyan800;
}
.cy-bg-mt-cyan900.cy-bg-h-mt-cyan900:hover {
	background-color: $mt-cyan900;
}
.cy-bg-mt-cyanA100.cy-bg-h-mt-cyanA100:hover {
	background-color: $mt-cyanA100;
}
.cy-bg-mt-cyanA200,.cy-bg-h-mt-cyanA200:hover {
	background-color: $mt-cyanA200;
}
.cy-bg-mt-cyanA400,.cy-bg-h-mt-cyanA400:hover{
	background-color: $mt-cyanA400;
}
.cy-bg-mt-cyanA700,.cy-bg-h-mt-cyan700:hover{
	background-color: $mt-cyanA700;
}
