@import '../../../colors/material/dpurple';

.cy-bg-mt-dpurple,.cy-bg-h-mt-dpurple:hover {
	background-color: $mt-dpurple;
}
.cy-bg-mt-dpurple100,.cy-bg-h-mt-dpurple100:hover{
	background-color: $mt-dpurple100;
}
.cy-bg-mt-dpurple200,.cy-bg-h-mt-dpurple200:hover {
	background-color: $mt-dpurple200;
}
.cy-bg-mt-dpurple300,.cy-bg-h-mt-dpurple300:hover{
	background-color: $mt-dpurple300;
}
.cy-bg-mt-dpurple400,.cy-bg-h-mt-dpurple400:hover{
	background-color: $mt-dpurple400;
}
.cy-bg-mt-dpurple500,.cy-bg-h-mt-dpurple500:hover{
	background-color: $mt-dpurple500;
}
.cy-bg-mt-dpurple600,.cy-bg-h-mt-dpurple600:hover {
	background-color: $mt-dpurple600;
}
.cy-bg-mt-dpurple700,.cy-bg-h-mt-dpurple700:hover{
	background-color: $mt-dpurple700;
}
.cy-bg-mt-dpurple800,.cy-bg-h-mt-dpurple800:hover{
	background-color: $mt-dpurple800;
}
.cy-bg-mt-dpurple900.cy-bg-h-mt-dpurple900:hover {
	background-color: $mt-dpurple900;
}
.cy-bg-mt-dpurpleA100.cy-bg-h-mt-dpurpleA100:hover {
	background-color: $mt-dpurpleA100;
}
.cy-bg-mt-dpurpleA200,.cy-bg-h-mt-dpurpleA200:hover {
	background-color: $mt-dpurpleA200;
}
.cy-bg-mt-dpurpleA400,.cy-bg-h-mt-dpurpleA400:hover{
	background-color: $mt-dpurpleA400;
}
.cy-bg-mt-dpurpleA700,.cy-bg-h-mt-dpurple700:hover{
	background-color: $mt-dpurpleA700;
}
