@import '../../../colors/material/lime';

.cy-bg-mt-lime,.cy-bg-h-mt-lime:hover {
	background-color: $mt-lime;
}
.cy-bg-mt-lime100,.cy-bg-h-mt-lime100:hover{
	background-color: $mt-lime100;
}
.cy-bg-mt-lime200,.cy-bg-h-mt-lime200:hover {
	background-color: $mt-lime200;
}
.cy-bg-mt-lime300,.cy-bg-h-mt-lime300:hover{
	background-color: $mt-lime300;
}
.cy-bg-mt-lime400,.cy-bg-h-mt-lime400:hover{
	background-color: $mt-lime400;
}
.cy-bg-mt-lime500,.cy-bg-h-mt-lime500:hover{
	background-color: $mt-lime500;
}
.cy-bg-mt-lime600,.cy-bg-h-mt-lime600:hover {
	background-color: $mt-lime600;
}
.cy-bg-mt-lime700,.cy-bg-h-mt-lime700:hover{
	background-color: $mt-lime700;
}
.cy-bg-mt-lime800,.cy-bg-h-mt-lime800:hover{
	background-color: $mt-lime800;
}
.cy-bg-mt-lime900.cy-bg-h-mt-lime900:hover {
	background-color: $mt-lime900;
}
.cy-bg-mt-limeA100.cy-bg-h-mt-limeA100:hover {
	background-color: $mt-limeA100;
}
.cy-bg-mt-limeA200,.cy-bg-h-mt-limeA200:hover {
	background-color: $mt-limeA200;
}
.cy-bg-mt-limeA400,.cy-bg-h-mt-limeA400:hover{
	background-color: $mt-limeA400;
}
.cy-bg-mt-limeA700,.cy-bg-h-mt-lime700:hover{
	background-color: $mt-limeA700;
}
