@import '../../../colors/flatui/grey';

.cy-bd-flat-hoki,.cy-bd-h-flat-hoki:hover {
	border-color: $hoki;
}
.cy-bd-flat-outerspace,.cy-bd-h-flat-outerspace:hover {
	border-color: $outerspace;
}
.cy-bd-flat-mercury,.cy-bd-h-flat-mercury:hover {
	border-color: $mercury;
}
.cy-bd-flat-mystic,.cy-bd-h-flat-mystic:hover {
	border-color: $mystic;
}
.cy-bd-flat-pampas,.cy-bd-h-flat-pampas:hover {
	border-color: $pampas;
}
.cy-bd-flat-solitude,.cy-bd-h-flat-solitude:hover {
	border-color: $solitude;
}
.cy-bd-flat-silver,.cy-bd-h-flat-silver:hover {
	border-color: $silver;
}
.cy-bd-flat-cararra,.cy-bd-h-flat-cararra:hover {
	border-color: $carribeangreen;
}
.cy-bd-flat-edward,.cy-bd-h-flat-edward:hover {
	border-color: $edward;
}
.cy-bd-flat-iron,.cy-bd-h-flat-iron:hover {
	border-color: $iron;
}
.cy-bd-flat-cascade,.cy-bd-h-flat-cascade:hover {
	border-color: $cascade;
}
.cy-bd-flat-porcelain,.cy-bd-h-flat-porcelain:hover {
	border-color: $porcelain;
}
.cy-bd-flat-silversand,.cy-bd-h-flat-silversand:hover {
	border-color: $silversand;
}
.cy-bd-flat-gallery,.cy-bd-h-flat-gallery:hover {
	border-color: $gallery;
}
.cy-bd-flat-pumice,.cy-bd-h-flat-pumice:hover {
	border-color: $pumice;
}
.cy-bd-flat-lynch,.cy-bd-h-flat-lynch:hover {
	border-color: $lynch;
}
.cy-bd-flat-whitesmoke,.cy-bd-h-flat-whitesmoke:hover {
	border-color: $whitesmoke;
}
