@import '../../../colors/flatui/orange';

.cy-bd-flat-capehoney,.cy-bd-h-flat-capehoney:hover {
	border-color: $capehoney;
}
.cy-bd-flat-saffronmango,.cy-bd-h-flat-saffronmango:hover {
	border-color: $saffronmango;
}
.cy-bd-flat-lightiningyellow,.cy-bd-h-flat-lightiningyellow:hover {
	border-color: $lightiningyellow;
}
.cy-bd-flat-seabuckthron,.cy-bd-h-flat-seabuckthron:hover {
	border-color: $seabuckthron;
}
.cy-bd-flat-tahitgold,.cy-bd-h-flat-tahitgold:hover {
	border-color: $tahitgold;
}
.cy-bd-flat-california,.cy-bd-h-flat-california:hover {
	border-color: $california;
}
.cy-bd-flat-casablanca,.cy-bd-h-flat-casablanca:hover {
	border-color: $casablanca;
}
.cy-bd-flat-crusta,.cy-bd-h-flat-crusta:hover {
	border-color: $crusta;
}
.cy-bd-flat-firebrush,.cy-bd-h-flat-firebrush:hover {
	border-color: $firebrush;
}
.cy-bd-flat-supernova,.cy-bd-h-flat-supernova:hover {
	border-color: $supernova;
}
.cy-bd-flat-goldenrod,.cy-bd-h-flat-goldenrod:hover {
	border-color: $goldenrod;
}
.cy-bd-flat-carrotorange,.cy-bd-h-flat-carrotorange:hover {
	border-color: $carrotorange;
}
.cy-bd-flat-buttercup,.cy-bd-h-flat-buttercup:hover {
	border-color: $buttercup;
}
.cy-bd-flat-sandstorm,.cy-bd-h-flat-sandstorm:hover {
	border-color: $sandstorm;
}
.cy-bd-flat-jaffa,.cy-bd-h-flat-jaffa:hover {
	border-color: $jaffa;
}
.cy-bd-flat-ecstasy,.cy-bd-h-flat-ecstasy:hover {
	border-color: $ecstasy;
}
.cy-bd-flat-burntorange,.cy-bd-h-flat-burntorange:hover {
	border-color: $burntorange;
}
.cy-bd-flat-zest,.cy-bd-h-flat-zest:hover {
	border-color: $zest;
}
.cy-bd-flat-vivid,.cy-bd-h-flat-vivid:hover {
	border-color: $vivid;
}
.cy-bd-flat-mysin,.cy-bd-h-flat-mysin:hover {
	border-color: $mysin;
}
.cy-bd-flat-lightbuckthorn,.cy-bd-h-flat-lightbuckthorn:hover {
	border-color: $lightbuckthorn;
}
