@import '../../../colors/flatui/yellow';

.cy-bd-flat-confetti,
.cy-bd-h-flat-confetti:hover {
	border-color: $confetti;
}
.cy-bd-flat-orchidwhite,
.cy-bd-h-flat-orchidwhite:hover {
	border-color: $orchidwhite;
}
.cy-bd-flat-ripelemon,
.cy-bd-h-flat-ripelemon:hover {
	border-color: $ripelemon;
}
.cy-bd-flat-creamcan,
.cy-bd-h-flat-creamcan:hover {
	border-color: $creamcan;
}
.cy-bd-flat-saffron,
.cy-bd-h-flat-saffron:hover {
	border-color: $saffron;
}
.cy-bd-flat-kournikova,
.cy-bd-h-flat-kournikova:hover {
	border-color: $kournikova;
}
.cy-bd-flat-turbo,
.cy-bd-h-flat-turbo:hover {
	border-color: $turbo;
}
.cy-bd-flat-chartreuseyellow,
.cy-bd-h-flat-chartreuseyellow:hover {
	border-color: $chartreuseyellow;
}
.cy-bd-flat-marigoldyellow,
.cy-bd-h-flat-marigoldyellow:hover {
	border-color: $marigoldyellow;
}
.cy-bd-flat-dolly,
.cy-bd-h-flat-dolly:hover {
	border-color: $dolly;
}
.cy-bd-flat-cream,
.cy-bd-h-flat-cream:hover {
	border-color: $cream;
}
.cy-bd-flat-candycorn,
.cy-bd-h-flat-candycorn:hover {
	border-color: $candycorn;
}
.cy-bd-flat-yellow,
.cy-bd-h-flat-yellow:hover {
	border-color: $yellow;
}
.cy-bd-flat-energyyellow,
.cy-bd-h-flat-energyyellow:hover {
	border-color: $energyyellow;
}
.cy-bd-flat-witchhaze,
.cy-bd-h-flat-witchhaze:hover {
	border-color: $witchhaze;
}
.cy-bd-flat-salomie,
.cy-bd-h-flat-salomie:hover {
	border-color: $salomie;
}
.cy-bd-flat-ginnfizz,
.cy-bd-h-flat-ginnfizz:hover {
	border-color: $ginnfizz;
}
.cy-bd-flat-buff,
.cy-bd-h-flat-buff:hover {
	border-color: $buff;
}
.cy-bd-flat-moonglow,
.cy-bd-h-flat-moonglow:hover {
	border-color: $moonglow;
}