@import '../../../colors/flatui/blue';

.cy-text-flat-irishblue,.cy-text-h-flat-irishblue:hover {
	color: $irisblue;
}
.cy-text-flat-sherpablue,.cy-text-h-flat-sherpablue:hover {
	color: $sherpablue;
}
.cy-text-flat-deepskyblue,.cy-text-h-flat-deepskyblue:hover {
	color: $deepskyblue;
}
.cy-text-flat-summersky,.cy-text-h-flat-summersky:hover {
	color: $summersky;
}
.cy-text-flat-jacksonspurple,.cy-text-h-flat-jacksonspurple:hover {
	color: $jacksonspurple;
}
.cy-text-flat-ebonyclay,.cy-text-h-flat-ebonyclay:hover {
	color: $ebonyclay;
}
.cy-text-flat-dodgerblue,.cy-text-h-flat-dodgerblue:hover {
	color: $dodgerblue;
}
.cy-text-flat-shark,.cy-text-h-flat-shark:hover {
	color: $shark;
}
.cy-text-flat-jellybean,.cy-text-h-flat-jellybean:hover {
	color: $jellybean;
}
.cy-text-flat-madison,.cy-text-h-flat-madison:hover {
	color: $madison;
}
.cy-text-flat-mariner,.cy-text-h-flat-mariner:hover {
	color: $mariner;
}
.cy-text-flat-ming,.cy-text-h-flat-ming:hover {
	color: $ming;
}
.cy-text-flat-pickledbluewood,.cy-text-h-flat-pickledbluewood:hover {
	color: $pickledbluewood;
}
.cy-text-flat-curiousblue,.cy-text-h-flat-curiousblue:hover {
	color: $curiousblue;
}
.cy-text-flat-chambray,.cy-text-h-flat-chambray:hover {
	color: $chambray;
}
.cy-text-flat-havelockblue,.cy-text-h-flat-havelockblue:hover {
	color: $havelockblue;
}
.cy-text-flat-sanmarino,.cy-text-h-flat-sanmarino:hover {
	color: $sanmarino;
}
.cy-text-flat-airforceblue,.cy-text-h-flat-airforceblue:hover {
	color: $airforceblue;
}
.cy-text-flat-hanpurple,.cy-text-h-flat-hanpurple:hover {
	color: $hanpurple;
}
.cy-text-flat-persianblue,.cy-text-h-flat-persianblue:hover {
	color: $persianblue;
}
.cy-text-flat-shakespeare,.cy-text-h-flat-shakespeare:hover {
	color: $shakespeare;
}
.cy-text-flat-royalblue,.cy-text-h-flat-royalblue:hover {
	color: $royalblue;
}
.cy-text-flat-pictonblue,.cy-text-h-flat-pictonblue:hover {
	color: $pictonblue;
}
.cy-text-flat-fountainblue,.cy-text-h-flat-fountainblue:hover {
	color: $fountainblue;
}
.cy-text-flat-malibu,.cy-text-h-flat-malibu:hover {
	color: $malibu;
}
.cy-text-flat-spray,.cy-text-h-flat-spray:hover {
	color: $spray;
}
.cy-text-flat-jordyblue,.cy-text-h-flat-jordyblue:hover {
	color: $jordyblue;
}
.cy-text-flat-hummingbird,.cy-text-h-flat-hummingbird:hover {
	color: $hummingbird;
}
.cy-text-flat-aliceblue,.cy-text-h-flat-aliceblue:hover {
	color: $aliceblue;
}
