@import '../../../colors/flatui/grey';

.cy-text-flat-hoki,.cy-text-h-flat-hoki:hover {
	color: $hoki;
}
.cy-text-flat-outerspace,.cy-text-h-flat-outerspace:hover {
	color: $outerspace;
}
.cy-text-flat-mercury,.cy-text-h-flat-mercury:hover {
	color: $mercury;
}
.cy-text-flat-mystic,.cy-text-h-flat-mystic:hover {
	color: $mystic;
}
.cy-text-flat-pampas,.cy-text-h-flat-pampas:hover {
	color: $pampas;
}
.cy-text-flat-solitude,.cy-text-h-flat-solitude:hover {
	color: $solitude;
}
.cy-text-flat-silver,.cy-text-h-flat-silver:hover {
	color: $silver;
}
.cy-text-flat-cararra,.cy-text-h-flat-cararra:hover {
	color: $carribeangreen;
}
.cy-text-flat-edward,.cy-text-h-flat-edward:hover {
	color: $edward;
}
.cy-text-flat-iron,.cy-text-h-flat-iron:hover {
	color: $iron;
}
.cy-text-flat-cascade,.cy-text-h-flat-cascade:hover {
	color: $cascade;
}
.cy-text-flat-porcelain,.cy-text-h-flat-porcelain:hover {
	color: $porcelain;
}
.cy-text-flat-silversand,.cy-text-h-flat-silversand:hover {
	color: $silversand;
}
.cy-text-flat-gallery,.cy-text-h-flat-gallery:hover {
	color: $gallery;
}
.cy-text-flat-pumice,.cy-text-h-flat-pumice:hover {
	color: $pumice;
}
.cy-text-flat-lynch,.cy-text-h-flat-lynch:hover {
	color: $lynch;
}
.cy-text-flat-whitesmoke,.cy-text-h-flat-whitesmoke:hover {
	color: $whitesmoke;
}
