@import '../../../colors/flatui/purple';

.cy-text-flat-seance,.cy-text-h-flat-seance:hover {
	color: $seance;
}
.cy-text-flat-plum,.cy-text-h-flat-plum:hover {
	color: $plum;
}
.cy-text-flat-lightwisteria,.cy-text-h-flat-lightwisteria:hover {
	color: $lightwisteria;
}
.cy-text-flat-wisteria,.cy-text-h-flat-wisteria:hover {
	color: $wisteria;
}
.cy-text-flat-studio,.cy-text-h-flat-studio:hover {
	color: $studio;
}
.cy-text-flat-snuff,.cy-text-h-flat-snuff:hover {
	color: $snuff;
}
.cy-text-flat-mediumpurple,.cy-text-h-flat-mediumpurple:hover {
	color: $mediumpurple;
}
.cy-text-flat-honeyflower,.cy-text-h-flat-honeyflower:hover {
	color: $honeyflower;
}
.cy-text-flat-lavenderpurple,.cy-text-h-flat-lavenderpurple:hover {
	color: $lavenderpurple;
}
.cy-text-flat-cesoir,.cy-text-h-flat-cesoir:hover {
	color: $cesoir;
}
.cy-text-flat-rebeccapurple,.cy-text-h-flat-rebeccapurple:hover {
	color: $rebeccapurple;
}
.cy-text-flat-electricindigo,.cy-text-h-flat-electricindigo:hover {
	color: $electricindigo;
}
.cy-text-flat-mauve,.cy-text-h-flat-mauve:hover {
	color: $mauve;
}
.cy-text-flat-bluechalk,.cy-text-h-flat-bluechalk:hover {
	color: $bluechalk;
}
.cy-text-flat-electricpurple,.cy-text-h-flat-electricpurple:hover {
	color: $electricpurple;
}
.cy-text-flat-scampi,.cy-text-h-flat-scampi:hover {
	color: $scampi;
}
.cy-text-flat-lightslateblue,.cy-text-h-flat-lightslateblue:hover {
	color: $lightslateblue;
}
.cy-text-flat-wistful,.cy-text-h-flat-wistful:hover {
	color: $wistful;
}
.cy-text-flat-mediumredviolet,.cy-text-h-flat-mediumredviolet:hover {
	color: $mediumredviolet;
}
