$facebook: #3b5999;
$messenger: #0084ff;
$twitter: #55acee;
$linkedin: #0077B5;
$skype: #00AFF0;
$dropbox: #007ee5;
$wordpress: #21759b;
$vimeo: #1ab7ea;
$slideshare: #0077b5;
$vk: #4c75a3;
$tumblr: #34465d;
$yahoo: #410093;
$googleplus: #dd4b39;
$pinterest: #bd081c;
$youtube: #cd201f;
$stumbleupon: #eb4924;
$reddit: #ff5700;
$quora: #b92b27;
$yelp: #af0606;
$weibo: #df2029;
$producthunt: #da552f;
$hackernews: #ff6600;
$soundcloud: #ff3300;
$blogger: #f57d00;
$whatsapp: #25D366;
$wechat: #09b83e;
$line: #00c300;
$medium: #02b875;
$vine: #00b489;
$slack: #3aaf85;
$instagram: #e4405f;
$dribble: #ea4c89;
$flickr: #ff0084;
$foresquare: #f94877;
$behance: #131418;
$snapchat: #FFFC00;