$mt-brown    : #795548;
$mt-brown50  : #EFEBE9;
$mt-brown100 : #D7CCC8;
$mt-brown200 : #BCAAA4;
$mt-brown300 : #A1887F;
$mt-brown400 : #8D6E63;
$mt-brown500 : #795548;
$mt-brown600 : #6D4C41;
$mt-brown700 : #5D4037;
$mt-brown800 : #4E342E;
$mt-brown900 : #3E2723;