@import '../../colors/orange';

.cy-text-mt-orange {
	color: $mt-orange;
}
.cy-text-mt-orange100 {
	color: $mt-orange100;
}
.cy-text-mt-orange200 {
	color: $mt-orange200;
}
.cy-text-mt-orange300 {
	color: $mt-orange300;
}
.cy-text-mt-orange400 {
	color: $mt-orange400;
}
.cy-text-mt-orange500 {
	color: $mt-orange500;
}
.cy-text-mt-orange600 {
	color: $mt-orange600;
}
.cy-text-mt-orange700 {
	color: $mt-orange700;
}
.cy-text-mt-orange800 {
	color: $mt-orange800;
}
.cy-text-mt-orange900 {
	color: $mt-orange900;
}
.cy-text-mt-orangeA100 {
	color: $mt-orangeA100;
}
.cy-text-mt-orangeA200 {
	color: $mt-orangeA200;
}
.cy-text-mt-orangeA400 {
	color: $mt-orangeA400;
}
.cy-text-mt-orangeA700 {
	color: $mt-orangeA700;
}
