@import '../../colors/dpurple';

.cy-text-mt-dpurple {
	color: $mt-dpurple;
}
.cy-text-mt-dpurple100 {
	color: $mt-dpurple100;
}
.cy-text-mt-dpurple200 {
	color: $mt-dpurple200;
}
.cy-text-mt-dpurple300 {
	color: $mt-dpurple300;
}
.cy-text-mt-dpurple400 {
	color: $mt-dpurple400;
}
.cy-text-mt-dpurple500 {
	color: $mt-dpurple500;
}
.cy-text-mt-dpurple600 {
	color: $mt-dpurple600;
}
.cy-text-mt-dpurple700 {
	color: $mt-dpurple700;
}
.cy-text-mt-dpurple800 {
	color: $mt-dpurple800;
}
.cy-text-mt-dpurple900 {
	color: $mt-dpurple900;
}
.cy-text-mt-dpurpleA100 {
	color: $mt-dpurpleA100;
}
.cy-text-mt-dpurpleA200 {
	color: $mt-dpurpleA200;
}
.cy-text-mt-dpurpleA400 {
	color: $mt-dpurpleA400;
}
.cy-text-mt-dpurpleA700 {
	color: $mt-dpurpleA700;
}
