@import '../../colors/teal';

.cy-text-mt-teal {
	color: $mt-teal;
}
.cy-text-mt-teal100 {
	color: $mt-teal100;
}
.cy-text-mt-teal200 {
	color: $mt-teal200;
}
.cy-text-mt-teal300 {
	color: $mt-teal300;
}
.cy-text-mt-teal400 {
	color: $mt-teal400;
}
.cy-text-mt-teal500 {
	color: $mt-teal500;
}
.cy-text-mt-teal600 {
	color: $mt-teal600;
}
.cy-text-mt-teal700 {
	color: $mt-teal700;
}
.cy-text-mt-teal800 {
	color: $mt-teal800;
}
.cy-text-mt-teal900 {
	color: $mt-teal900;
}
.cy-text-mt-tealA100 {
	color: $mt-tealA100;
}
.cy-text-mt-tealA200 {
	color: $mt-tealA200;
}
.cy-text-mt-tealA400 {
	color: $mt-tealA400;
}
.cy-text-mt-tealA700 {
	color: $mt-tealA700;
}
