@import '../../colors/brown';

.cy-text-mt-brown {
	color: $mt-brown;
}
.cy-text-mt-brown100 {
	color: $mt-brown100;
}
.cy-text-mt-brown200 {
	color: $mt-brown200;
}
.cy-text-mt-brown300 {
	color: $mt-brown300;
}
.cy-text-mt-brown400 {
	color: $mt-brown400;
}
.cy-text-mt-brown500 {
	color: $mt-brown500;
}
.cy-text-mt-brown600 {
	color: $mt-brown600;
}
.cy-text-mt-brown700 {
	color: $mt-brown700;
}
.cy-text-mt-brown800 {
	color: $mt-brown800;
}
.cy-text-mt-brown900 {
	color: $mt-brown900;
}