$irisblue: #00b5cc;
$sherpablue: #013243;
$deepskyblue: #19b5fe;
$summersky: #1e8bc3;
$jacksonspurple: #1f3a93;
$ebonyclay: #22313f;
$dodgerblue: #22a7f0;
$shark: #24252a;
$jellybean: #2574a9;
$madison: #2c3e50;
$mariner: #2c82c9;
$ming: #336e7b;
$pickledbluewood: #34495e;
$curiousblue: #3498db;
$chambray: #3a539b;
$havelockblue: #4183d7;
$sanmarino: #446cb3;
$airforceblue: #4b77be;
$hanpurple: #4d05e8;
$persianblue: #4d13d1;
$shakespeare: #52b3d9;
$royalblue: #5333ed;
$pictonblue: #59abe3;
$fountainblue: #5c97bf;
$malibu: #6bb9f0;
$spray: #81cfe0;
$jordyblue: #89c4f4;
$hummingbird: #c5eff7;
$aliceblue: #e4f1fe;
