$hoki: #67809f;
$outerspace: #2e3131;
$mercury: #e8e8e8;
$mystic: #e8ecf1;
$pampas: #f3f1ef;
$solitude: #e4e9ed;
$silver: #bfbfbf;
$cararra: #f2f1ef;
$edward: #abb7b7;
$iron: #dadfe1;
$cascade: #95a5a6;
$porcelain: #ecf0f1;
$silversand: #bdc3c7;
$gallery: #eeeeee;
$pumice: #d2d7d3;
$lynch: #6c7a89;
$whitesmoke: #ececec;