$niagara: #2abb9b;
$brightturquoise: #29f1c3;
$java: #23cba7;
$lightgreen: #7befb2;
$oceangreen: #4daf7c;
$aquaisland: #a2ded0;
$mediumturquoise: #4ecdc4;
$summergreen: #91b496;
$observatory: #049372;
$salem: #1e824c;
$jade: #00b16a;
$freespeechaquamarine: #03a678;
$greenhaze: #019875;
$eucalyptus: #26a65b;
$malachite: #00e640;
$junglegreen: #26c281;
$darkseagreen: #90c695;
$gossip: #87d37c;
$emerald: #3fc380;
$mountainmeadow: #16a085;
$shamrock: #2ecc71;
$riptide: #86e2d5;
$madang: #c8f7c5;
$turquoise: #36d7b7;
$mediumaquamarine: #66cc99;
$lightseagreen: #1ba39c;
$downy: #65c6bb;
$silvertree: #68c3a3;
$carribeangreen: #03c9a9;
