$capehoney: #fde3a7;
$saffronmango: #fabe58;
$lightiningyellow: #f5ab35;
$seabuckthron: #eb974e;
$tahitgold: #e87e04;
$california: #f89406;
$casablanca: #f4b350;
$crusta: #f2784b;
$firebrush: #eb9532;
$supernova: #ffcb05;
$goldenrod: #fcd670;
$carrotorange: #e67e22;
$buttercup: #f39c12;
$sandstorm: #f9bf3b;
$jaffa: #f27935;
$ecstasy: #f9690e;
$burntorange: #d35400;
$zest: #e47833;
$vivid: #f15a22;
$mysin: #fcb941;
$lightbuckthorn: #f9b42d;