$seance: #9a12b3;
$plum: #913d88;
$lightwisteria: #be90d4;
$wisteria: #9b59b6;
$studio: #8e44ad;
$snuff: #dcc6e0;
$mediumpurple: #bf55ec;
$honeyflower: #674172;
$lavenderpurple: #947cb0;
$cesoir: #a96dad;
$rebeccapurple: #663399;
$electricindigo: #8c14fc;
$mauve: #d5b8ff;
$bluechalk: #f1e7fe;
$electricpurple: #a537fd;
$scampi: #736598;
$lightslateblue: #9f5afd;
$wistful: #aea8d3;
$mediumredviolet: #963694;
