$pomegranate: #f03434;
$sunglo: #e26a6a;
$radicalred: #f62459;
$newyorkpink: #e08283;
$cabaret: #d2527f;
$waxflower: #f1a9a0;
$sunsetorange: #f64747;
$razzmatazz: #db0a5b;
$cinnabar: #e74c3c;
$monza: #cf000f;
$tallpoppy: #c0392b;
$valencia: #d64541;
$oldbrick: #96281b;
$thunderbird: #d91e18;
$scarlet: #f22613;
$chestnutrose: #d24d57;
$softred: #ec644b;
$vividtangerine: #ff9478;
$falcon: #765d69;
$froly: #f1828d;
