$confetti: #e9d460;
$orchidwhite: #f0f0d6;
$ripelemon: #f7ca18;
$creamcan: #f5d76e;
$saffron: #f4d03f;
$kournikova: #fad859;
$turbo: #f5e51b;
$chartreuseyellow: #eeee00;
$marigoldyellow: #f4f776;
$dolly: #ffff7e;
$cream: #ffffcc;
$candycorn: #fef160;
$yellow: #f0ff00;
$energyyellow: #f5e653;
$witchhaze: #fff68f;
$salomie: #ffec8b;
$ginnfizz: #fff9de;
$buff: #f2d984;
$moonglow: #fefad4;
