@import '../../../colors/metro/metro';

.cy-text-metro-lime,.cy-text-metro-sc-lime:hover{
    color: $lime;
}
.cy-text-metro-green,.cy-text-metro-sc-green:hover{
    color: $green;
}
.cy-text-metro-emerald,.cy-text-metro-sc-emerald:hover{
    color: $emerald;
}
.cy-text-metro-teal,.cy-text-metro-sc-teal:hover{
    color: $teal;
}
.cy-text-metro-cyan,.cy-text-metro-sc-cyan:hover{
    color: $cyan;
}
.cy-text-metro-cobalt,.cy-text-metro-sc-cobalt:hover{
    color: $cobalt;
}
.cy-text-metro-indigo,.cy-text-metro-sc-indigo:hover{
    color: $indigo;
}
.cy-text-metro-violet,.cy-text-metro-sc-violet:hover{
    color: $violet;
}
.cy-text-metro-pink,.cy-text-metro-sc-pink:hover{
    color: $pink;
}
.cy-text-metro-magenta,.cy-text-metro-sc-magenta:hover{
    color: $magenta;
}
.cy-text-metro-magenta,.cy-text-metro-sc-magenta:hover{
    color: $magenta;
}
.cy-text-metro-crimson,.cy-text-metro-sc-crimson:hover{
    color: $crimson;
}
.cy-text-metro-red,.cy-text-metro-sc-red:hover{
    color: $red;
}
.cy-text-metro-orange,.cy-text-metro-sc-orange:hover{
    color: $orange;
}
.cy-text-metro-yellow,.cy-text-metro-sc-yellow:hover{
    color: $yellow;
}
.cy-text-metro-brown,.cy-text-metro-sc-brown:hover{
    color: $brown;
}
.cy-text-metro-olive,.cy-text-metro-sc-olive:hover{
    color: $olive;
}
.cy-text-metro-steel,.cy-text-metro-sc-steel:hover{
    color: $steel;
}
.cy-text-metro-mauve,.cy-text-metro-sc-mauve:hover{
    color: $mauve;
}
.cy-text-metro-sienna,.cy-text-metro-sc-sienna:hover{
    color: $sienna;
}