@import '../../../colors/flatui/_green';

.cy-bd-flat-niagara,.cy-bd-h-flat-niagara:hover {
	border-color: $niagara;
}
.cy-bd-flat-brightturquoise,.cy-bd-h-flat-brightturquoise:hover {
	border-color: $brightturquoise;
}
.cy-bd-flat-java,.cy-bd-h-flat-java:hover {
	border-color: $java;
}
.cy-bd-flat-lightgreen,.cy-bd-h-flat-lightgreen:hover {
	border-color: $lightgreen;
}
.cy-bd-flat-oceangreen,.cy-bd-h-flat-oceangreen:hover {
	border-color: $oceangreen;
}
.cy-bd-flat-aquaisland,.cy-bd-h-flat-aquaisland:hover {
	border-color: $aquaisland;
}
.cy-bd-flat-mediumturquoise,.cy-bd-h-flat-mediumturquoise:hover {
	border-color: $mediumturquoise;
}
.cy-bd-flat-summergreen,.cy-bd-h-flat-summergreen:hover {
	border-color: $summergreen;
}
.cy-bd-flat-observatory,.cy-bd-h-flat-observatory:hover {
	border-color: $observatory;
}
.cy-bd-flat-salem,.cy-bd-h-flat-salem:hover {
	border-color: $salem;
}
.cy-bd-flat-jade,.cy-bd-h-flat-jade:hover {
	border-color: $jade;
}
.cy-bd-flat-freespeechaquamarine,.cy-bd-h-flat-freespeechaquamarine:hover {
	border-color: $freespeechaquamarine;
}
.cy-bd-flat-greenhaze,.cy-bd-h-flat-greenhaze:hover {
	border-color: $greenhaze;
}
.cy-bd-flat-eucalyptus,.cy-bd-h-flat-eucalyptus:hover {
	border-color: $eucalyptus;
}
.cy-bd-flat-malachite,.cy-bd-h-flat-malachite:hover {
	border-color: $malachite;
}
.cy-bd-flat-junglegreen,.cy-bd-h-flat-junglegreen:hover {
	border-color: $junglegreen;
}
.cy-bd-flat-darkseagreen,.cy-bd-h-flat-darkseagreen:hover {
	border-color: $darkseagreen;
}
.cy-bd-flat-gossip,.cy-bd-h-flat-gossip:hover {
	border-color: $gossip;
}
.cy-bd-flat-emerald,.cy-bd-h-flat-emerald:hover {
	border-color: $emerald;
}
.cy-bd-flat-mountainmeadow,.cy-bd-h-flat-mountainmeadow:hover {
	border-color: $mountainmeadow;
}
.cy-bd-flat-shamrock,.cy-bd-h-flat-shamrock:hover {
	border-color: $shamrock;
}
.cy-bd-flat-riptide,.cy-bd-h-flat-riptide:hover {
	border-color: $riptide;
}
.cy-bd-flat-madang,.cy-bd-h-flat-madang:hover {
	border-color: $madang;
}
.cy-bd-flat-turquoise,.cy-bd-h-flat-turquoise:hover {
	border-color: $turquoise;
}
.cy-bd-flat-mediumaquamarine,.cy-bd-h-flat-mediumaquamarine:hover {
	border-color: $mediumaquamarine;
}
.cy-bd-flat-lightseagreen,.cy-bd-h-flat-lightseagreen:hover {
	border-color: $lightseagreen;
}
.cy-bd-flat-downy,.cy-bd-h-flat-downy:hover {
	border-color: $downy;
}
.cy-bd-flat-silvertree,.cy-bd-h-flat-silvertree:hover {
	border-color: $silvertree;
}
.cy-bd-flat-carribeangreen,.cy-bd-h-flat-carribeangreen:hover {
	border-color: $carribeangreen;
}
