@import '../../../colors/flatui/purple';

.cy-bd-flat-seance,.cy-bd-h-flat-seance:hover {
	border-color: $seance;
}
.cy-bd-flat-plum,.cy-bd-h-flat-plum:hover {
	border-color: $plum;
}
.cy-bd-flat-lightwisteria,.cy-bd-h-flat-lightwisteria:hover {
	border-color: $lightwisteria;
}
.cy-bd-flat-wisteria,.cy-bd-h-flat-wisteria:hover {
	border-color: $wisteria;
}
.cy-bd-flat-studio,.cy-bd-h-flat-studio:hover {
	border-color: $studio;
}
.cy-bd-flat-snuff,.cy-bd-h-flat-snuff:hover {
	border-color: $snuff;
}
.cy-bd-flat-mediumpurple,.cy-bd-h-flat-mediumpurple:hover {
	border-color: $mediumpurple;
}
.cy-bd-flat-honeyflower,.cy-bd-h-flat-honeyflower:hover {
	border-color: $honeyflower;
}
.cy-bd-flat-lavenderpurple,.cy-bd-h-flat-lavenderpurple:hover {
	border-color: $lavenderpurple;
}
.cy-bd-flat-cesoir,.cy-bd-h-flat-cesoir:hover {
	border-color: $cesoir;
}
.cy-bd-flat-rebeccapurple,.cy-bd-h-flat-rebeccapurple:hover {
	border-color: $rebeccapurple;
}
.cy-bd-flat-electricindigo,.cy-bd-h-flat-electricindigo:hover {
	border-color: $electricindigo;
}
.cy-bd-flat-mauve,.cy-bd-h-flat-mauve:hover {
	border-color: $mauve;
}
.cy-bd-flat-bluechalk,.cy-bd-h-flat-bluechalk:hover {
	border-color: $bluechalk;
}
.cy-bd-flat-electricpurple,.cy-bd-h-flat-electricpurple:hover {
	border-color: $electricpurple;
}
.cy-bd-flat-scampi,.cy-bd-h-flat-scampi:hover {
	border-color: $scampi;
}
.cy-bd-flat-lightslateblue,.cy-bd-h-flat-lightslateblue:hover {
	border-color: $lightslateblue;
}
.cy-bd-flat-wistful,.cy-bd-h-flat-wistful:hover {
	border-color: $wistful;
}
.cy-bd-flat-mediumredviolet,.cy-bd-h-flat-mediumredviolet:hover {
	border-color: $mediumredviolet;
}
