@import '../../../colors/flatui/red';

.cy-bd-flat-pomegranate,.cy-bd-h-flat-pomegranate:hover {
	border-color: $pomegranate;
}
.cy-bd-flat-sunglo,.cy-bd-h-flat-sunglo:hover {
	border-color: $sunglo;
}
.cy-bd-flat-radicalred,.cy-bd-h-flat-radicalred:hover {
	border-color: $radicalred;
}
.cy-bd-flat-newyorkpink,.cy-bd-h-flat-newyorkpink:hover {
	border-color: $newyorkpink;
}
.cy-bd-flat-cabaret,.cy-bd-h-flat-cabaret:hover {
	border-color: $cabaret;
}
.cy-bd-flat-waxflower,.cy-bd-h-flat-waxflower:hover {
	border-color: $waxflower;
}
.cy-bd-flat-sunsetorange,.cy-bd-h-flat-sunsetorange:hover {
	border-color: $sunsetorange;
}
.cy-bd-flat-razzmatazz,.cy-bd-h-flat-razzmatazz:hover {
	border-color: $razzmatazz;
}
.cy-bd-flat-cinnabar,.cy-bd-h-flat-cinnabar:hover {
	border-color: $cinnabar;
}
.cy-bd-flat-monza,.cy-bd-h-flat-monza:hover {
	border-color: $monza;
}
.cy-bd-flat-tallpoppy,.cy-bd-h-flat-tallpoppy:hover {
	border-color: $tallpoppy;
}
.cy-bd-flat-valencia,.cy-bd-h-flat-valencia:hover {
	border-color: $valencia;
}
.cy-bd-flat-oldbrick,.cy-bd-h-flat-oldbrick:hover {
	border-color: $oldbrick;
}
.cy-bd-flat-thunderbird,.cy-bd-h-flat-thunderbird:hover {
	border-color: $thunderbird;
}
.cy-bd-flat-scarlet,.cy-bd-h-flat-scarlet:hover {
	border-color: $scarlet;
}
.cy-bd-flat-chestnutrose,.cy-bd-h-flat-chestnutrose:hover {
	border-color: $chestnutrose;
}
.cy-bd-flat-softred,.cy-bd-h-flat-softred:hover {
	border-color: $softred;
}
.cy-bd-flat-vividtangerine,.cy-bd-h-flat-vividtangerine:hover {
	border-color: $vividtangerine;
}
.cy-bd-flat-falcon,.cy-bd-h-flat-falcon:hover {
	border-color: $falcon;
}
.cy-bd-flat-froly,.cy-bd-h-flat-froly:hover {
	border-color: $froly;
}
