@import '../../../colors/material/brown';

.cy-bd-mt-brown,.cy-bd-h-mt-brown:hover {
	border-color: $mt-brown;
}
.cy-bd-mt-brown100,.cy-bd-h-mt-brown100:hover{
	border-color: $mt-brown100;
}
.cy-bd-mt-brown200,.cy-bd-h-mt-brown200:hover {
	border-color: $mt-brown200;
}
.cy-bd-mt-brown300,.cy-bd-h-mt-brown300:hover{
	border-color: $mt-brown300;
}
.cy-bd-mt-brown400,.cy-bd-h-mt-brown400:hover{
	border-color: $mt-brown400;
}
.cy-bd-mt-brown500,.cy-bd-h-mt-brown500:hover{
	border-color: $mt-brown500;
}
.cy-bd-mt-brown600,.cy-bd-h-mt-brown600:hover {
	border-color: $mt-brown600;
}
.cy-bd-mt-brown700,.cy-bd-h-mt-brown700:hover{
	border-color: $mt-brown700;
}
.cy-bd-mt-brown800,.cy-bd-h-mt-brown800:hover{
	border-color: $mt-brown800;
}
.cy-bd-mt-brown900.cy-bd-h-mt-brown900:hover {
	border-color: $mt-brown900;
}