@import '../../../colors/material/dorange';

.cy-bd-mt-dorange,.cy-bd-h-mt-dorange:hover {
	border-color: $mt-dorange;
}
.cy-bd-mt-dorange100,.cy-bd-h-mt-dorange100:hover{
	border-color: $mt-dorange100;
}
.cy-bd-mt-dorange200,.cy-bd-h-mt-dorange200:hover {
	border-color: $mt-dorange200;
}
.cy-bd-mt-dorange300,.cy-bd-h-mt-dorange300:hover{
	border-color: $mt-dorange300;
}
.cy-bd-mt-dorange400,.cy-bd-h-mt-dorange400:hover{
	border-color: $mt-dorange400;
}
.cy-bd-mt-dorange500,.cy-bd-h-mt-dorange500:hover{
	border-color: $mt-dorange500;
}
.cy-bd-mt-dorange600,.cy-bd-h-mt-dorange600:hover {
	border-color: $mt-dorange600;
}
.cy-bd-mt-dorange700,.cy-bd-h-mt-dorange700:hover{
	border-color: $mt-dorange700;
}
.cy-bd-mt-dorange800,.cy-bd-h-mt-dorange800:hover{
	border-color: $mt-dorange800;
}
.cy-bd-mt-dorange900.cy-bd-h-mt-dorange900:hover {
	border-color: $mt-dorange900;
}
.cy-bd-mt-dorangeA100.cy-bd-h-mt-dorangeA100:hover {
	border-color: $mt-dorangeA100;
}
.cy-bd-mt-dorangeA200,.cy-bd-h-mt-dorangeA200:hover {
	border-color: $mt-dorangeA200;
}
.cy-bd-mt-dorangeA400,.cy-bd-h-mt-dorangeA400:hover{
	border-color: $mt-dorangeA400;
}
.cy-bd-mt-dorangeA700,.cy-bd-h-mt-dorange700:hover{
	border-color: $mt-dorangeA700;
}
