@import '../../../colors/material/grey';

.cy-bd-mt-grey,.cy-bd-h-mt-grey:hover {
	border-color: $mt-grey;
}
.cy-bd-mt-grey100,.cy-bd-h-mt-grey100:hover{
	border-color: $mt-grey100;
}
.cy-bd-mt-grey200,.cy-bd-h-mt-grey200:hover {
	border-color: $mt-grey200;
}
.cy-bd-mt-grey300,.cy-bd-h-mt-grey300:hover{
	border-color: $mt-grey300;
}
.cy-bd-mt-grey400,.cy-bd-h-mt-grey400:hover{
	border-color: $mt-grey400;
}
.cy-bd-mt-grey500,.cy-bd-h-mt-grey500:hover{
	border-color: $mt-grey500;
}
.cy-bd-mt-grey600,.cy-bd-h-mt-grey600:hover {
	border-color: $mt-grey600;
}
.cy-bd-mt-grey700,.cy-bd-h-mt-grey700:hover{
	border-color: $mt-grey700;
}
.cy-bd-mt-grey800,.cy-bd-h-mt-grey800:hover{
	border-color: $mt-grey800;
}
.cy-bd-mt-grey900.cy-bd-h-mt-grey900:hover {
	border-color: $mt-grey900;
}
