@import '../../../colors/material/indigo';

.cy-bd-mt-indigo,.cy-bd-h-mt-indigo:hover {
	border-color: $mt-indigo;
}
.cy-bd-mt-indigo100,.cy-bd-h-mt-indigo100:hover{
	border-color: $mt-indigo100;
}
.cy-bd-mt-indigo200,.cy-bd-h-mt-indigo200:hover {
	border-color: $mt-indigo200;
}
.cy-bd-mt-indigo300,.cy-bd-h-mt-indigo300:hover{
	border-color: $mt-indigo300;
}
.cy-bd-mt-indigo400,.cy-bd-h-mt-indigo400:hover{
	border-color: $mt-indigo400;
}
.cy-bd-mt-indigo500,.cy-bd-h-mt-indigo500:hover{
	border-color: $mt-indigo500;
}
.cy-bd-mt-indigo600,.cy-bd-h-mt-indigo600:hover {
	border-color: $mt-indigo600;
}
.cy-bd-mt-indigo700,.cy-bd-h-mt-indigo700:hover{
	border-color: $mt-indigo700;
}
.cy-bd-mt-indigo800,.cy-bd-h-mt-indigo800:hover{
	border-color: $mt-indigo800;
}
.cy-bd-mt-indigo900.cy-bd-h-mt-indigo900:hover {
	border-color: $mt-indigo900;
}
.cy-bd-mt-indigoA100.cy-bd-h-mt-indigoA100:hover {
	border-color: $mt-indigoA100;
}
.cy-bd-mt-indigoA200,.cy-bd-h-mt-indigoA200:hover {
	border-color: $mt-indigoA200;
}
.cy-bd-mt-indigoA400,.cy-bd-h-mt-indigoA400:hover{
	border-color: $mt-indigoA400;
}
.cy-bd-mt-indigoA700,.cy-bd-h-mt-indigo700:hover{
	border-color: $mt-indigoA700;
}
