@import '../../../colors/material/lblue';

.cy-bd-mt-lblue,.cy-bd-h-mt-lblue:hover {
	border-color: $mt-lblue;
}
.cy-bd-mt-lblue100,.cy-bd-h-mt-lblue100:hover{
	border-color: $mt-lblue100;
}
.cy-bd-mt-lblue200,.cy-bd-h-mt-lblue200:hover {
	border-color: $mt-lblue200;
}
.cy-bd-mt-lblue300,.cy-bd-h-mt-lblue300:hover{
	border-color: $mt-lblue300;
}
.cy-bd-mt-lblue400,.cy-bd-h-mt-lblue400:hover{
	border-color: $mt-lblue400;
}
.cy-bd-mt-lblue500,.cy-bd-h-mt-lblue500:hover{
	border-color: $mt-lblue500;
}
.cy-bd-mt-lblue600,.cy-bd-h-mt-lblue600:hover {
	border-color: $mt-lblue600;
}
.cy-bd-mt-lblue700,.cy-bd-h-mt-lblue700:hover{
	border-color: $mt-lblue700;
}
.cy-bd-mt-lblue800,.cy-bd-h-mt-lblue800:hover{
	border-color: $mt-lblue800;
}
.cy-bd-mt-lblue900.cy-bd-h-mt-lblue900:hover {
	border-color: $mt-lblue900;
}
.cy-bd-mt-lblueA100.cy-bd-h-mt-lblueA100:hover {
	border-color: $mt-lblueA100;
}
.cy-bd-mt-lblueA200,.cy-bd-h-mt-lblueA200:hover {
	border-color: $mt-lblueA200;
}
.cy-bd-mt-lblueA400,.cy-bd-h-mt-lblueA400:hover{
	border-color: $mt-lblueA400;
}
.cy-bd-mt-lblueA700,.cy-bd-h-mt-lblue700:hover{
	border-color: $mt-lblueA700;
}
