@import '../../../colors/material/lgreen';

.cy-bd-mt-lgreen,.cy-bd-h-mt-lgreen:hover {
	border-color: $mt-lgreen;
}
.cy-bd-mt-lgreen100,.cy-bd-h-mt-lgreen100:hover{
	border-color: $mt-lgreen100;
}
.cy-bd-mt-lgreen200,.cy-bd-h-mt-lgreen200:hover {
	border-color: $mt-lgreen200;
}
.cy-bd-mt-lgreen300,.cy-bd-h-mt-lgreen300:hover{
	border-color: $mt-lgreen300;
}
.cy-bd-mt-lgreen400,.cy-bd-h-mt-lgreen400:hover{
	border-color: $mt-lgreen400;
}
.cy-bd-mt-lgreen500,.cy-bd-h-mt-lgreen500:hover{
	border-color: $mt-lgreen500;
}
.cy-bd-mt-lgreen600,.cy-bd-h-mt-lgreen600:hover {
	border-color: $mt-lgreen600;
}
.cy-bd-mt-lgreen700,.cy-bd-h-mt-lgreen700:hover{
	border-color: $mt-lgreen700;
}
.cy-bd-mt-lgreen800,.cy-bd-h-mt-lgreen800:hover{
	border-color: $mt-lgreen800;
}
.cy-bd-mt-lgreen900.cy-bd-h-mt-lgreen900:hover {
	border-color: $mt-lgreen900;
}
.cy-bd-mt-lgreenA100.cy-bd-h-mt-lgreenA100:hover {
	border-color: $mt-lgreenA100;
}
.cy-bd-mt-lgreenA200,.cy-bd-h-mt-lgreenA200:hover {
	border-color: $mt-lgreenA200;
}
.cy-bd-mt-lgreenA400,.cy-bd-h-mt-lgreenA400:hover{
	border-color: $mt-lgreenA400;
}
.cy-bd-mt-lgreenA700,.cy-bd-h-mt-lgreen700:hover{
	border-color: $mt-lgreenA700;
}
