@import '../../../colors/material/pink';

.cy-bd-mt-pink,.cy-bd-h-mt-pink:hover {
	border-color: $mt-pink;
}
.cy-bd-mt-pink100,.cy-bd-h-mt-pink100:hover{
	border-color: $mt-pink100;
}
.cy-bd-mt-pink200,.cy-bd-h-mt-pink200:hover {
	border-color: $mt-pink200;
}
.cy-bd-mt-pink300,.cy-bd-h-mt-pink300:hover{
	border-color: $mt-pink300;
}
.cy-bd-mt-pink400,.cy-bd-h-mt-pink400:hover{
	border-color: $mt-pink400;
}
.cy-bd-mt-pink500,.cy-bd-h-mt-pink500:hover{
	border-color: $mt-pink500;
}
.cy-bd-mt-pink600,.cy-bd-h-mt-pink600:hover {
	border-color: $mt-pink600;
}
.cy-bd-mt-pink700,.cy-bd-h-mt-pink700:hover{
	border-color: $mt-pink700;
}
.cy-bd-mt-pink800,.cy-bd-h-mt-pink800:hover{
	border-color: $mt-pink800;
}
.cy-bd-mt-pink900.cy-bd-h-mt-pink900:hover {
	border-color: $mt-pink900;
}
.cy-bd-mt-pinkA100.cy-bd-h-mt-pinkA100:hover {
	border-color: $mt-pinkA100;
}
.cy-bd-mt-pinkA200,.cy-bd-h-mt-pinkA200:hover {
	border-color: $mt-pinkA200;
}
.cy-bd-mt-pinkA400,.cy-bd-h-mt-pinkA400:hover{
	border-color: $mt-pinkA400;
}
.cy-bd-mt-pinkA700,.cy-bd-h-mt-pink700:hover{
	border-color: $mt-pinkA700;
}
