@import '../../../colors/material/teal';

.cy-bd-mt-teal,.cy-bd-h-mt-teal:hover {
	border-color: $mt-teal;
}
.cy-bd-mt-teal100,.cy-bd-h-mt-teal100:hover{
	border-color: $mt-teal100;
}
.cy-bd-mt-teal200,.cy-bd-h-mt-teal200:hover {
	border-color: $mt-teal200;
}
.cy-bd-mt-teal300,.cy-bd-h-mt-teal300:hover{
	border-color: $mt-teal300;
}
.cy-bd-mt-teal400,.cy-bd-h-mt-teal400:hover{
	border-color: $mt-teal400;
}
.cy-bd-mt-teal500,.cy-bd-h-mt-teal500:hover{
	border-color: $mt-teal500;
}
.cy-bd-mt-teal600,.cy-bd-h-mt-teal600:hover {
	border-color: $mt-teal600;
}
.cy-bd-mt-teal700,.cy-bd-h-mt-teal700:hover{
	border-color: $mt-teal700;
}
.cy-bd-mt-teal800,.cy-bd-h-mt-teal800:hover{
	border-color: $mt-teal800;
}
.cy-bd-mt-teal900.cy-bd-h-mt-teal900:hover {
	border-color: $mt-teal900;
}
.cy-bd-mt-tealA100.cy-bd-h-mt-tealA100:hover {
	border-color: $mt-tealA100;
}
.cy-bd-mt-tealA200,.cy-bd-h-mt-tealA200:hover {
	border-color: $mt-tealA200;
}
.cy-bd-mt-tealA400,.cy-bd-h-mt-tealA400:hover{
	border-color: $mt-tealA400;
}
.cy-bd-mt-tealA700,.cy-bd-h-mt-teal700:hover{
	border-color: $mt-tealA700;
}
