@import '../../colors/amber';

.cy-bg-mt-amber {
	background-color: $mt-amber;
}
.cy-bg-mt-amber100 {
	background-color: $mt-amber100;
}
.cy-bg-mt-amber200 {
	background-color: $mt-amber200;
}
.cy-bg-mt-amber300 {
	background-color: $mt-amber300;
}
.cy-bg-mt-amber400 {
	background-color: $mt-amber400;
}
.cy-bg-mt-amber500 {
	background-color: $mt-amber500;
}
.cy-bg-mt-amber600 {
	background-color: $mt-amber600;
}
.cy-bg-mt-amber700 {
	background-color: $mt-amber700;
}
.cy-bg-mt-amber800 {
	background-color: $mt-amber800;
}
.cy-bg-mt-amber900 {
	background-color: $mt-amber900;
}
.cy-bg-mt-amberA100 {
	background-color: $mt-amberA100;
}
.cy-bg-mt-amberA200 {
	background-color: $mt-amberA200;
}
.cy-bg-mt-amberA400 {
	background-color: $mt-amberA400;
}
.cy-bg-mt-amberA700 {
	background-color: $mt-amberA700;
}
