@import '../../colors/green';

.cy-bg-mt-green {
	background-color: $mt-green;
}
.cy-bg-mt-green100 {
	background-color: $mt-green100;
}
.cy-bg-mt-green200 {
	background-color: $mt-green200;
}
.cy-bg-mt-green300 {
	background-color: $mt-green300;
}
.cy-bg-mt-green400 {
	background-color: $mt-green400;
}
.cy-bg-mt-green500 {
	background-color: $mt-green500;
}
.cy-bg-mt-green600 {
	background-color: $mt-green600;
}
.cy-bg-mt-green700 {
	background-color: $mt-green700;
}
.cy-bg-mt-green800 {
	background-color: $mt-green800;
}
.cy-bg-mt-green900 {
	background-color: $mt-green900;
}
.cy-bg-mt-greenA100 {
	background-color: $mt-greenA100;
}
.cy-bg-mt-greenA200 {
	background-color: $mt-greenA200;
}
.cy-bg-mt-greenA400 {
	background-color: $mt-greenA400;
}
.cy-bg-mt-greenA700 {
	background-color: $mt-greenA700;
}
