@import '../../colors/dorange';

.cy-bg-mt-dorange {
	background-color: $mt-dorange;
}
.cy-bg-mt-dorange100 {
	background-color: $mt-dorange100;
}
.cy-bg-mt-dorange200 {
	background-color: $mt-dorange200;
}
.cy-bg-mt-dorange300 {
	background-color: $mt-dorange300;
}
.cy-bg-mt-dorange400 {
	background-color: $mt-dorange400;
}
.cy-bg-mt-dorange500 {
	background-color: $mt-dorange500;
}
.cy-bg-mt-dorange600 {
	background-color: $mt-dorange600;
}
.cy-bg-mt-dorange700 {
	background-color: $mt-dorange700;
}
.cy-bg-mt-dorange800 {
	background-color: $mt-dorange800;
}
.cy-bg-mt-dorange900 {
	background-color: $mt-dorange900;
}
.cy-bg-mt-dorangeA100 {
	background-color: $mt-dorangeA100;
}
.cy-bg-mt-dorangeA200 {
	background-color: $mt-dorangeA200;
}
.cy-bg-mt-dorangeA400 {
	background-color: $mt-dorangeA400;
}
.cy-bg-mt-dorangeA700 {
	background-color: $mt-dorangeA700;
}
