@import '../../colors/cyan';

.cy-bg-mt-cyan {
	background-color: $mt-cyan;
}
.cy-bg-mt-cyan100 {
	background-color: $mt-cyan100;
}
.cy-bg-mt-cyan200 {
	background-color: $mt-cyan200;
}
.cy-bg-mt-cyan300 {
	background-color: $mt-cyan300;
}
.cy-bg-mt-cyan400 {
	background-color: $mt-cyan400;
}
.cy-bg-mt-cyan500 {
	background-color: $mt-cyan500;
}
.cy-bg-mt-cyan600 {
	background-color: $mt-cyan600;
}
.cy-bg-mt-cyan700 {
	background-color: $mt-cyan700;
}
.cy-bg-mt-cyan800 {
	background-color: $mt-cyan800;
}
.cy-bg-mt-cyan900 {
	background-color: $mt-cyan900;
}
.cy-bg-mt-cyanA100 {
	background-color: $mt-cyanA100;
}
.cy-bg-mt-cyanA200 {
	background-color: $mt-cyanA200;
}
.cy-bg-mt-cyanA400 {
	background-color: $mt-cyanA400;
}
.cy-bg-mt-cyanA700 {
	background-color: $mt-cyanA700;
}
