@import '../../colors/blue';

.cy-bg-mt-blue {
	background-color: $mt-blue;
}
.cy-bg-mt-blue100 {
	background-color: $mt-blue100;
}
.cy-bg-mt-blue200 {
	background-color: $mt-blue200;
}
.cy-bg-mt-blue300 {
	background-color: $mt-blue300;
}
.cy-bg-mt-blue400 {
	background-color: $mt-blue400;
}
.cy-bg-mt-blue500 {
	background-color: $mt-blue500;
}
.cy-bg-mt-blue600 {
	background-color: $mt-blue600;
}
.cy-bg-mt-blue700 {
	background-color: $mt-blue700;
}
.cy-bg-mt-blue800 {
	background-color: $mt-blue800;
}
.cy-bg-mt-blue900 {
	background-color: $mt-blue900;
}
.cy-bg-mt-blueA100 {
	background-color: $mt-blueA100;
}
.cy-bg-mt-blueA200 {
	background-color: $mt-blueA200;
}
.cy-bg-mt-blueA400 {
	background-color: $mt-blueA400;
}
.cy-bg-mt-blueA700 {
	background-color: $mt-blueA700;
}
