@import '../../colors/lime';

.cy-bg-mt-lime {
	background-color: $mt-lime;
}
.cy-bg-mt-lime100 {
	background-color: $mt-lime100;
}
.cy-bg-mt-lime200 {
	background-color: $mt-lime200;
}
.cy-bg-mt-lime300 {
	background-color: $mt-lime300;
}
.cy-bg-mt-lime400 {
	background-color: $mt-lime400;
}
.cy-bg-mt-lime500 {
	background-color: $mt-lime500;
}
.cy-bg-mt-lime600 {
	background-color: $mt-lime600;
}
.cy-bg-mt-lime700 {
	background-color: $mt-lime700;
}
.cy-bg-mt-lime800 {
	background-color: $mt-lime800;
}
.cy-bg-mt-lime900 {
	background-color: $mt-lime900;
}
.cy-bg-mt-limeA100 {
	background-color: $mt-limeA100;
}
.cy-bg-mt-limeA200 {
	background-color: $mt-limeA200;
}
.cy-bg-mt-limeA400 {
	background-color: $mt-limeA400;
}
.cy-bg-mt-limeA700 {
	background-color: $mt-limeA700;
}
