@import '../../colors/bluegrey';

.cy-bg-mt-bluegrey {
	background-color: $mt-bluegrey;
}
.cy-bg-mt-bluegrey100 {
	background-color: $mt-bluegrey100;
}
.cy-bg-mt-bluegrey200 {
	background-color: $mt-bluegrey200;
}
.cy-bg-mt-bluegrey300 {
	background-color: $mt-bluegrey300;
}
.cy-bg-mt-bluegrey400 {
	background-color: $mt-bluegrey400;
}
.cy-bg-mt-bluegrey500 {
	background-color: $mt-bluegrey500;
}
.cy-bg-mt-bluegrey600 {
	background-color: $mt-bluegrey600;
}
.cy-bg-mt-bluegrey700 {
	background-color: $mt-bluegrey700;
}
.cy-bg-mt-bluegrey800 {
	background-color: $mt-bluegrey800;
}
.cy-bg-mt-bluegrey900 {
	background-color: $mt-bluegrey900;
}