@import '../../colors/lblue';

.cy-bg-mt-lblue {
	background-color: $mt-lblue;
}
.cy-bg-mt-lblue100 {
	background-color: $mt-lblue100;
}
.cy-bg-mt-lblue200 {
	background-color: $mt-lblue200;
}
.cy-bg-mt-lblue300 {
	background-color: $mt-lblue300;
}
.cy-bg-mt-lblue400 {
	background-color: $mt-lblue400;
}
.cy-bg-mt-lblue500 {
	background-color: $mt-lblue500;
}
.cy-bg-mt-lblue600 {
	background-color: $mt-lblue600;
}
.cy-bg-mt-lblue700 {
	background-color: $mt-lblue700;
}
.cy-bg-mt-lblue800 {
	background-color: $mt-lblue800;
}
.cy-bg-mt-lblue900 {
	background-color: $mt-lblue900;
}
.cy-bg-mt-lblueA100 {
	background-color: $mt-lblueA100;
}
.cy-bg-mt-lblueA200 {
	background-color: $mt-lblueA200;
}
.cy-bg-mt-lblueA400 {
	background-color: $mt-lblueA400;
}
.cy-bg-mt-lblueA700 {
	background-color: $mt-lblueA700;
}
