@import '../../colors/lgreen';

.cy-bg-mt-lgreen {
	background-color: $mt-lgreen;
}
.cy-bg-mt-lgreen100 {
	background-color: $mt-lgreen100;
}
.cy-bg-mt-lgreen200 {
	background-color: $mt-lgreen200;
}
.cy-bg-mt-lgreen300 {
	background-color: $mt-lgreen300;
}
.cy-bg-mt-lgreen400 {
	background-color: $mt-lgreen400;
}
.cy-bg-mt-lgreen500 {
	background-color: $mt-lgreen500;
}
.cy-bg-mt-lgreen600 {
	background-color: $mt-lgreen600;
}
.cy-bg-mt-lgreen700 {
	background-color: $mt-lgreen700;
}
.cy-bg-mt-lgreen800 {
	background-color: $mt-lgreen800;
}
.cy-bg-mt-lgreen900 {
	background-color: $mt-lgreen900;
}
.cy-bg-mt-lgreenA100 {
	background-color: $mt-lgreenA100;
}
.cy-bg-mt-lgreenA200 {
	background-color: $mt-lgreenA200;
}
.cy-bg-mt-lgreenA400 {
	background-color: $mt-lgreenA400;
}
.cy-bg-mt-lgreenA700 {
	background-color: $mt-lgreenA700;
}
