$mt-amber    : #FFC107;
$mt-amber50  : #FFF8E1;
$mt-amber100 : #FFECB3;
$mt-amber200 : #FFE082;
$mt-amber300 : #FFD54F;
$mt-amber400 : #FFCA28;
$mt-amber500 : #FFC107;
$mt-amber600 : #FFB300;
$mt-amber700 : #FFA000;
$mt-amber800 : #FF8F00;
$mt-amber900 : #FF6F00;
$mt-amberA100: #FFE57F;
$mt-amberA200: #FFD740;
$mt-amberA400: #FFC400;
$mt-amberA700: #FFAB00;
