$mt-yellow    : #FFEB3B;
$mt-yellow50  : #FFFDE7;
$mt-yellow100 : #FFF9C4;
$mt-yellow200 : #FFF59D;
$mt-yellow300 : #FFF176;
$mt-yellow400 : #FFEE58;
$mt-yellow500 : #FFEB3B;
$mt-yellow600 : #FDD835;
$mt-yellow700 : #FBC02D;
$mt-yellow800 : #F9A825;
$mt-yellow900 : #F57F17;
$mt-yellowA100: #FFFF8D;
$mt-yellowA200: #FFFF00;
$mt-yellowA400: #FFEA00;
$mt-yellowA700: #FFD600;
