@import '../../../colors/material/amber';

.cy-text-mt-amber,.cy-text-h-mt-amber:hover {
	color: $mt-amber;
}
.cy-text-mt-amber100,.cy-text-h-mt-amber100:hover {
	color: $mt-amber100;
}
.cy-text-mt-amber200,.cy-text-h-mt-amber200:hover {
	color: $mt-amber200;
}
.cy-text-mt-amber300,.cy-text-h-mt-amber300:hover {
	color: $mt-amber300;
}
.cy-text-mt-amber400,.cy-text-h-mt-amber400:hover {
	color: $mt-amber400;
}
.cy-text-mt-amber500,.cy-text-h-mt-amber500:hover {
	color: $mt-amber500;
}
.cy-text-mt-amber600,.cy-text-h-mt-amber600:hover {
	color: $mt-amber600;
}
.cy-text-mt-amber700,.cy-text-h-mt-amber700:hover {
	color: $mt-amber700;
}
.cy-text-mt-amber800,.cy-text-h-mt-amber800:hover {
	color: $mt-amber800;
}
.cy-text-mt-amber900,.cy-text-h-mt-amber900:hover {
	color: $mt-amber900;
}
.cy-text-mt-amberA100,.cy-text-h-mt-amberA100:hover {
	color: $mt-amberA100;
}
.cy-text-mt-amberA200,.cy-text-h-mt-amberA200:hover {
	color: $mt-amberA200;
}
.cy-text-mt-amberA400,.cy-text-h-mt-amberA400:hover {
	color: $mt-amberA400;
}
.cy-text-mt-amberA700,.cy-text-h-mt-amberA700:hover {
	color: $mt-amberA700;
}
