@import '../../../colors/material/bluegrey';

.cy-text-mt-bluegrey,.cy-text-h-mt-bluegrey:hover {
	color: $mt-bluegrey;
}
.cy-text-mt-bluegrey100,.cy-text-h-mt-bluegrey100:hover {
	color: $mt-bluegrey100;
}
.cy-text-mt-bluegrey200,.cy-text-h-mt-bluegrey200:hover {
	color: $mt-bluegrey200;
}
.cy-text-mt-bluegrey300,.cy-text-h-mt-bluegrey300:hover {
	color: $mt-bluegrey300;
}
.cy-text-mt-bluegrey400,.cy-text-h-mt-bluegrey400:hover {
	color: $mt-bluegrey400;
}
.cy-text-mt-bluegrey500,.cy-text-h-mt-bluegrey500:hover {
	color: $mt-bluegrey500;
}
.cy-text-mt-bluegrey600,.cy-text-h-mt-bluegrey600:hover {
	color: $mt-bluegrey600;
}
.cy-text-mt-bluegrey700,.cy-text-h-mt-bluegrey700:hover {
	color: $mt-bluegrey700;
}
.cy-text-mt-bluegrey800,.cy-text-h-mt-bluegrey800:hover {
	color: $mt-bluegrey800;
}
.cy-text-mt-bluegrey900,.cy-text-h-mt-bluegrey900:hover {
	color: $mt-bluegrey900;
}