@import '../../../colors/material/brown';

.cy-text-mt-brown,.cy-text-h-mt-brown:hover {
	color: $mt-brown;
}
.cy-text-mt-brown100,.cy-text-h-mt-brown100:hover {
	color: $mt-brown100;
}
.cy-text-mt-brown200,.cy-text-h-mt-brown200:hover {
	color: $mt-brown200;
}
.cy-text-mt-brown300,.cy-text-h-mt-brown300:hover {
	color: $mt-brown300;
}
.cy-text-mt-brown400,.cy-text-h-mt-brown400:hover {
	color: $mt-brown400;
}
.cy-text-mt-brown500,.cy-text-h-mt-brown500:hover {
	color: $mt-brown500;
}
.cy-text-mt-brown600,.cy-text-h-mt-brown600:hover {
	color: $mt-brown600;
}
.cy-text-mt-brown700,.cy-text-h-mt-brown700:hover {
	color: $mt-brown700;
}
.cy-text-mt-brown800,.cy-text-h-mt-brown800:hover {
	color: $mt-brown800;
}
.cy-text-mt-brown900,.cy-text-h-mt-brown900:hover {
	color: $mt-brown900;
}