@import '../../../colors/material/indigo';

.cy-text-mt-indigo,.cy-text-h-mt-indigo:hover {
	color: $mt-indigo;
}
.cy-text-mt-indigo100,.cy-text-h-mt-indigo100:hover {
	color: $mt-indigo100;
}
.cy-text-mt-indigo200,.cy-text-h-mt-indigo200:hover {
	color: $mt-indigo200;
}
.cy-text-mt-indigo300,.cy-text-h-mt-indigo300:hover {
	color: $mt-indigo300;
}
.cy-text-mt-indigo400,.cy-text-h-mt-indigo400:hover {
	color: $mt-indigo400;
}
.cy-text-mt-indigo500,.cy-text-h-mt-indigo500:hover {
	color: $mt-indigo500;
}
.cy-text-mt-indigo600,.cy-text-h-mt-indigo600:hover {
	color: $mt-indigo600;
}
.cy-text-mt-indigo700,.cy-text-h-mt-indigo700:hover {
	color: $mt-indigo700;
}
.cy-text-mt-indigo800,.cy-text-h-mt-indigo800:hover {
	color: $mt-indigo800;
}
.cy-text-mt-indigo900,.cy-text-h-mt-indigo900:hover {
	color: $mt-indigo900;
}
.cy-text-mt-indigoA100,.cy-text-h-mt-indigoA100:hover {
	color: $mt-indigoA100;
}
.cy-text-mt-indigoA200,.cy-text-h-mt-indigoA200:hover {
	color: $mt-indigoA200;
}
.cy-text-mt-indigoA400,.cy-text-h-mt-indigoA400:hover {
	color: $mt-indigoA400;
}
.cy-text-mt-indigoA700,.cy-text-h-mt-indigoA700:hover {
	color: $mt-indigoA700;
}
