@import '../../../colors/material/pink';

.cy-text-mt-pink,.cy-text-h-mt-pink:hover {
	color: $mt-pink;
}
.cy-text-mt-pink100,.cy-text-h-mt-pink100:hover {
	color: $mt-pink100;
}
.cy-text-mt-pink200,.cy-text-h-mt-pink200:hover {
	color: $mt-pink200;
}
.cy-text-mt-pink300,.cy-text-h-mt-pink300:hover {
	color: $mt-pink300;
}
.cy-text-mt-pink400,.cy-text-h-mt-pink400:hover {
	color: $mt-pink400;
}
.cy-text-mt-pink500,.cy-text-h-mt-pink500:hover {
	color: $mt-pink500;
}
.cy-text-mt-pink600,.cy-text-h-mt-pink600:hover {
	color: $mt-pink600;
}
.cy-text-mt-pink700,.cy-text-h-mt-pink700:hover {
	color: $mt-pink700;
}
.cy-text-mt-pink800,.cy-text-h-mt-pink900:hover {
	color: $mt-pink800;
}
.cy-text-mt-pink900,.cy-text-h-mt-pinkA100:hover {
	color: $mt-pink900;
}
.cy-text-mt-pinkA100,.cy-text-h-mt-pinkA200:hover {
	color: $mt-pinkA100;
}
.cy-text-mt-pinkA200,.cy-text-h-mt-pinkA400:hover {
	color: $mt-pinkA200;
}
.cy-text-mt-pinkA400,.cy-text-h-mt-pinkA700:hover {
	color: $mt-pinkA400;
}
.cy-text-mt-pinkA700,.cy-text-h-mt-pink100:hover {
	color: $mt-pinkA700;
}
