@import '../../colors/red.scss';

.cy-text-mt-red {
	color: $mt-red;
}
.cy-text-mt-red100 {
	color: $mt-red100;
}
.cy-text-mt-red200 {
	color: $mt-red200;
}
.cy-text-mt-red300 {
	color: $mt-red300;
}
.cy-text-mt-red400 {
	color: $mt-red400;
}
.cy-text-mt-red500 {
	color: $mt-red500;
}
.cy-text-mt-red600 {
	color: $mt-red600;
}
.cy-text-mt-red700 {
	color: $mt-red700;
}
.cy-text-mt-red800 {
	color: $mt-red800;
}
.cy-text-mt-red900 {
	color: $mt-red900;
}
.cy-text-mt-redA100 {
	color: $mt-redA100;
}
.cy-text-mt-redA200 {
	color: $mt-redA200;
}
.cy-text-mt-redA400 {
	color: $mt-redA400;
}
.cy-text-mt-redA700 {
	color: $mt-redA700;
}
