@import '../../colors/amber';

.cy-text-mt-amber {
	color: $mt-amber;
}
.cy-text-mt-amber100 {
	color: $mt-amber100;
}
.cy-text-mt-amber200 {
	color: $mt-amber200;
}
.cy-text-mt-amber300 {
	color: $mt-amber300;
}
.cy-text-mt-amber400 {
	color: $mt-amber400;
}
.cy-text-mt-amber500 {
	color: $mt-amber500;
}
.cy-text-mt-amber600 {
	color: $mt-amber600;
}
.cy-text-mt-amber700 {
	color: $mt-amber700;
}
.cy-text-mt-amber800 {
	color: $mt-amber800;
}
.cy-text-mt-amber900 {
	color: $mt-amber900;
}
.cy-text-mt-amberA100 {
	color: $mt-amberA100;
}
.cy-text-mt-amberA200 {
	color: $mt-amberA200;
}
.cy-text-mt-amberA400 {
	color: $mt-amberA400;
}
.cy-text-mt-amberA700 {
	color: $mt-amberA700;
}
