@import '../../colors/pink';

.cy-text-mt-pink {
	color: $mt-pink;
}
.cy-text-mt-pink100 {
	color: $mt-pink100;
}
.cy-text-mt-pink200 {
	color: $mt-pink200;
}
.cy-text-mt-pink300 {
	color: $mt-pink300;
}
.cy-text-mt-pink400 {
	color: $mt-pink400;
}
.cy-text-mt-pink500 {
	color: $mt-pink500;
}
.cy-text-mt-pink600 {
	color: $mt-pink600;
}
.cy-text-mt-pink700 {
	color: $mt-pink700;
}
.cy-text-mt-pink800 {
	color: $mt-pink800;
}
.cy-text-mt-pink900 {
	color: $mt-pink900;
}
.cy-text-mt-pinkA100 {
	color: $mt-pinkA100;
}
.cy-text-mt-pinkA200 {
	color: $mt-pinkA200;
}
.cy-text-mt-pinkA400 {
	color: $mt-pinkA400;
}
.cy-text-mt-pinkA700 {
	color: $mt-pinkA700;
}
