@import '../../colors/indigo';

.cy-text-mt-indigo {
	color: $mt-indigo;
}
.cy-text-mt-indigo100 {
	color: $mt-indigo100;
}
.cy-text-mt-indigo200 {
	color: $mt-indigo200;
}
.cy-text-mt-indigo300 {
	color: $mt-indigo300;
}
.cy-text-mt-indigo400 {
	color: $mt-indigo400;
}
.cy-text-mt-indigo500 {
	color: $mt-indigo500;
}
.cy-text-mt-indigo600 {
	color: $mt-indigo600;
}
.cy-text-mt-indigo700 {
	color: $mt-indigo700;
}
.cy-text-mt-indigo800 {
	color: $mt-indigo800;
}
.cy-text-mt-indigo900 {
	color: $mt-indigo900;
}
.cy-text-mt-indigoA100 {
	color: $mt-indigoA100;
}
.cy-text-mt-indigoA200 {
	color: $mt-indigoA200;
}
.cy-text-mt-indigoA400 {
	color: $mt-indigoA400;
}
.cy-text-mt-indigoA700 {
	color: $mt-indigoA700;
}
