@import '../../colors/grey';

.cy-text-mt-grey {
	color: $mt-grey;
}
.cy-text-mt-grey100 {
	color: $mt-grey100;
}
.cy-text-mt-grey200 {
	color: $mt-grey200;
}
.cy-text-mt-grey300 {
	color: $mt-grey300;
}
.cy-text-mt-grey400 {
	color: $mt-grey400;
}
.cy-text-mt-grey500 {
	color: $mt-grey500;
}
.cy-text-mt-grey600 {
	color: $mt-grey600;
}
.cy-text-mt-grey700 {
	color: $mt-grey700;
}
.cy-text-mt-grey800 {
	color: $mt-grey800;
}
.cy-text-mt-grey900 {
	color: $mt-grey900;
}