@import '../../../colors/flatui/blue';

.cy-bg-flat-irishblue,.cy-bg-h-flat-irishblue:hover {
	background-color: $irisblue;
}
.cy-bg-flat-sherpablue,.cy-bg-h-flat-sherpablue:hover {
	background-color: $sherpablue;
}
.cy-bg-flat-deepskyblue,.cy-bg-h-flat-deepskyblue:hover {
	background-color: $deepskyblue;
}
.cy-bg-flat-summersky,.cy-bg-h-flat-summersky:hover {
	background-color: $summersky;
}
.cy-bg-flat-jacksonspurple,.cy-bg-h-flat-jacksonspurple:hover {
	background-color: $jacksonspurple;
}
.cy-bg-flat-ebonyclay,.cy-bg-h-flat-ebonyclay:hover {
	background-color: $ebonyclay;
}
.cy-bg-flat-dodgerblue,.cy-bg-h-flat-dodgerblue:hover {
	background-color: $dodgerblue;
}
.cy-bg-flat-shark,.cy-bg-h-flat-shark:hover {
	background-color: $shark;
}
.cy-bg-flat-jellybean,.cy-bg-h-flat-jellybean:hover {
	background-color: $jellybean;
}
.cy-bg-flat-madison,.cy-bg-h-flat-madison:hover {
	background-color: $madison;
}
.cy-bg-flat-mariner,.cy-bg-h-flat-mariner:hover {
	background-color: $mariner;
}
.cy-bg-flat-ming,.cy-bg-h-flat-ming:hover {
	background-color: $ming;
}
.cy-bg-flat-pickledbluewood,.cy-bg-h-flat-pickledbluewood:hover {
	background-color: $pickledbluewood;
}
.cy-bg-flat-curiousblue,.cy-bg-h-flat-curiousblue:hover {
	background-color: $curiousblue;
}
.cy-bg-flat-chambray,.cy-bg-h-flat-chambray:hover {
	background-color: $chambray;
}
.cy-bg-flat-havelockblue,.cy-bg-h-flat-havelockblue:hover {
	background-color: $havelockblue;
}
.cy-bg-flat-sanmarino,.cy-bg-h-flat-sanmarino:hover {
	background-color: $sanmarino;
}
.cy-bg-flat-airforceblue,.cy-bg-h-flat-airforceblue:hover {
	background-color: $airforceblue;
}
.cy-bg-flat-hanpurple,.cy-bg-h-flat-hanpurple:hover {
	background-color: $hanpurple;
}
.cy-bg-flat-persianblue,.cy-bg-h-flat-persianblue:hover {
	background-color: $persianblue;
}
.cy-bg-flat-shakespeare,.cy-bg-h-flat-shakespeare:hover {
	background-color: $shakespeare;
}
.cy-bg-flat-royalblue,.cy-bg-h-flat-royalblue:hover {
	background-color: $royalblue;
}
.cy-bg-flat-pictonblue,.cy-bg-h-flat-pictonblue:hover {
	background-color: $pictonblue;
}
.cy-bg-flat-fountainblue,.cy-bg-h-flat-fountainblue:hover {
	background-color: $fountainblue;
}
.cy-bg-flat-malibu,.cy-bg-h-flat-malibu:hover {
	background-color: $malibu;
}
.cy-bg-flat-spray,.cy-bg-h-flat-spray:hover {
	background-color: $spray;
}
.cy-bg-flat-jordyblue,.cy-bg-h-flat-jordyblue:hover {
	background-color: $jordyblue;
}
.cy-bg-flat-hummingbird,.cy-bg-h-flat-hummingbird:hover {
	background-color: $hummingbird;
}
.cy-bg-flat-aliceblue,.cy-bg-h-flat-aliceblue:hover {
	background-color: $aliceblue;
}
