@import '../../../colors/flatui/orange';

.cy-bg-flat-capehoney,.cy-bg-h-flat-capehoney:hover {
	background-color: $capehoney;
}
.cy-bg-flat-saffronmango,.cy-bg-h-flat-saffronmango:hover {
	background-color: $saffronmango;
}
.cy-bg-flat-lightiningyellow,.cy-bg-h-flat-lightiningyellow:hover {
	background-color: $lightiningyellow;
}
.cy-bg-flat-seabuckthron,.cy-bg-h-flat-seabuckthron:hover {
	background-color: $seabuckthron;
}
.cy-bg-flat-tahitgold,.cy-bg-h-flat-tahitgold:hover {
	background-color: $tahitgold;
}
.cy-bg-flat-california,.cy-bg-h-flat-california:hover {
	background-color: $california;
}
.cy-bg-flat-casablanca,.cy-bg-h-flat-casablanca:hover {
	background-color: $casablanca;
}
.cy-bg-flat-crusta,.cy-bg-h-flat-crusta:hover {
	background-color: $crusta;
}
.cy-bg-flat-firebrush,.cy-bg-h-flat-firebrush:hover {
	background-color: $firebrush;
}
.cy-bg-flat-supernova,.cy-bg-h-flat-supernova:hover {
	background-color: $supernova;
}
.cy-bg-flat-goldenrod,.cy-bg-h-flat-goldenrod:hover {
	background-color: $goldenrod;
}
.cy-bg-flat-carrotorange,.cy-bg-h-flat-carrotorange:hover {
	background-color: $carrotorange;
}
.cy-bg-flat-buttercup,.cy-bg-h-flat-buttercup:hover {
	background-color: $buttercup;
}
.cy-bg-flat-sandstorm,.cy-bg-h-flat-sandstorm:hover {
	background-color: $sandstorm;
}
.cy-bg-flat-jaffa,.cy-bg-h-flat-jaffa:hover {
	background-color: $jaffa;
}
.cy-bg-flat-ecstasy,.cy-bg-h-flat-ecstasy:hover {
	background-color: $ecstasy;
}
.cy-bg-flat-burntorange,.cy-bg-h-flat-burntorange:hover {
	background-color: $burntorange;
}
.cy-bg-flat-zest,.cy-bg-h-flat-zest:hover {
	background-color: $zest;
}
.cy-bg-flat-vivid,.cy-bg-h-flat-vivid:hover {
	background-color: $vivid;
}
.cy-bg-flat-mysin,.cy-bg-h-flat-mysin:hover {
	background-color: $mysin;
}
.cy-bg-flat-lightbuckthorn,.cy-bg-h-flat-lightbuckthorn:hover {
	background-color: $lightbuckthorn;
}
