@import '../../../colors/flatui/yellow';

.cy-bg-flat-confetti,
.cy-bg-h-flat-confetti:hover {
	background-color: $confetti;
}
.cy-bg-flat-orchidwhite,
.cy-bg-h-flat-orchidwhite:hover {
	background-color: $orchidwhite;
}
.cy-bg-flat-ripelemon,
.cy-bg-h-flat-ripelemon:hover {
	background-color: $ripelemon;
}
.cy-bg-flat-creamcan,
.cy-bg-h-flat-creamcan:hover {
	background-color: $creamcan;
}
.cy-bg-flat-saffron,
.cy-bg-h-flat-saffron:hover {
	background-color: $saffron;
}
.cy-bg-flat-kournikova,
.cy-bg-h-flat-kournikova:hover {
	background-color: $kournikova;
}
.cy-bg-flat-turbo,
.cy-bg-h-flat-turbo:hover {
	background-color: $turbo;
}
.cy-bg-flat-chartreuseyellow,
.cy-bg-h-flat-chartreuseyellow:hover {
	background-color: $chartreuseyellow;
}
.cy-bg-flat-marigoldyellow,
.cy-bg-h-flat-marigoldyellow:hover {
	background-color: $marigoldyellow;
}
.cy-bg-flat-dolly,
.cy-bg-h-flat-dolly:hover {
	background-color: $dolly;
}
.cy-bg-flat-cream,
.cy-bg-h-flat-cream:hover {
	background-color: $cream;
}
.cy-bg-flat-candycorn,
.cy-bg-h-flat-candycorn:hover {
	background-color: $candycorn;
}
.cy-bg-flat-yellow,
.cy-bg-h-flat-yellow:hover {
	background-color: $yellow;
}
.cy-bg-flat-energyyellow,
.cy-bg-h-flat-energyyellow:hover {
	background-color: $energyyellow;
}
.cy-bg-flat-witchhaze,
.cy-bg-h-flat-witchhaze:hover {
	background-color: $witchhaze;
}
.cy-bg-flat-salomie,
.cy-bg-h-flat-salomie:hover {
	background-color: $salomie;
}
.cy-bg-flat-ginnfizz,
.cy-bg-h-flat-ginnfizz:hover {
	background-color: $ginnfizz;
}
.cy-bg-flat-buff,
.cy-bg-h-flat-buff:hover {
	background-color: $buff;
}
.cy-bg-flat-moonglow,
.cy-bg-h-flat-moonglow:hover {
	background-color: $moonglow;
}