@import '../../../colors/metro/metro';

.cy-bg-metro-lime,.cy-bg-metro-sc-lime:hover{
    background-color: $lime;
}
.cy-bg-metro-green,.cy-bg-metro-sc-green:hover{
    background-color: $green;
}
.cy-bg-metro-emerald,.cy-bg-metro-sc-emerald:hover{
    background-color: $emerald;
}
.cy-bg-metro-teal,.cy-bg-metro-sc-teal:hover{
    background-color: $teal;
}
.cy-bg-metro-cyan,.cy-bg-metro-sc-cyan:hover{
    background-color: $cyan;
}
.cy-bg-metro-cobalt,.cy-bg-metro-sc-cobalt:hover{
    background-color: $cobalt;
}
.cy-bg-metro-indigo,.cy-bg-metro-sc-indigo:hover{
    background-color: $indigo;
}
.cy-bg-metro-violet,.cy-bg-metro-sc-violet:hover{
    background-color: $violet;
}
.cy-bg-metro-pink,.cy-bg-metro-sc-pink:hover{
    background-color: $pink;
}
.cy-bg-metro-magenta,.cy-bg-metro-sc-magenta:hover{
    background-color: $magenta;
}
.cy-bg-metro-magenta,.cy-bg-metro-sc-magenta:hover{
    background-color: $magenta;
}
.cy-bg-metro-crimson,.cy-bg-metro-sc-crimson:hover{
    background-color: $crimson;
}
.cy-bg-metro-red,.cy-bg-metro-sc-red:hover{
    background-color: $red;
}
.cy-bg-metro-orange,.cy-bg-metro-sc-orange:hover{
    background-color: $orange;
}
.cy-bg-metro-yellow,.cy-bg-metro-sc-yellow:hover{
    background-color: $yellow;
}
.cy-bg-metro-brown,.cy-bg-metro-sc-brown:hover{
    background-color: $brown;
}
.cy-bg-metro-olive,.cy-bg-metro-sc-olive:hover{
    background-color: $olive;
}
.cy-bg-metro-steel,.cy-bg-metro-sc-steel:hover{
    background-color: $steel;
}
.cy-bg-metro-mauve,.cy-bg-metro-sc-mauve:hover{
    background-color: $mauve;
}
.cy-bg-metro-sienna,.cy-bg-metro-sc-sienna:hover{
    background-color: $sienna;
}